<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Daftar BA PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar BA PO</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Daftar BA PO
                </div>
                <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                    <a style="color: white;" th:href="@{/berita-acara-po/tambah/}">
                        <button class="btn btn-danger">Tambah BA PO</button>
                    </a>
                </div>
                <table class="row-border" id="example" th:if="${daftarBeritaAcaraPo.size() != 0 }">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Nomor Purchase Order</th>
                        <th scope="col">Nomor BA</th>
                        <th scope="col">Jenis Pekerjaan</th>
                        <th scope="col">Jenis BA</th>
                        <th scope="col">Tanggal Terbit</th>
                        <th scope="col">Tanggal Kirim</th>
                        <th scope="col">Tanggal Kembali</th>
                        <th scope="col">Status</th>
                        <th scope="col">Invoice</th>
                        <th scope="col">Periode Berita Acara</th>
                        <th scope="col">Is Approved</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="beritaAcaraPo: ${daftarBeritaAcaraPo}">
                        <td>
                            <a th:href="@{/purchase-order/profil/} + ${beritaAcaraPo.purchaseOrder.id}"
                               th:text="${beritaAcaraPo.purchaseOrder.nomor}"></a>
                        </td>
                        <td>
                            <a th:href="@{/berita-acara-po/profil/} + ${beritaAcaraPo.id}"
                               th:text="${beritaAcaraPo.nomorBa}"></a>
                        </td>
                        <td th:text="${beritaAcaraPo.jenisPekerjaan}"></td>
                        <td th:text="${beritaAcaraPo.jenisBeritaAcara}"></td>
                        <td th:text="${beritaAcaraPo.tanggalTerbit}"></td>
                        <td th:text="${beritaAcaraPo.tanggalKirim}"></td>
                        <td th:text="${beritaAcaraPo.tanggalKembali}"></td>
                        <td th:text="${beritaAcaraPo.status.status}"></td>
                        <td>
                            <div th:if="${beritaAcaraPo.invoice != null}">
                                <a th:href="@{/invoice/profil/} + ${beritaAcaraPo.invoice.id}"
                                   th:text="${beritaAcaraPo.invoice.nomor}"></a>
                            </div>
                            <div th:unless="${beritaAcaraPo.invoice != null}">
                                NULL
                            </div>
                        </td>
                        <td th:text="${beritaAcaraPo.periodeBeritaAcara}"></td>
                        <td th:text="${beritaAcaraPo.approve} ? 'Approved' : 'Not Approved'"></td>
                        <td>
                            <form method="post" th:action="@{/berita-acara-po/hapus}">
                                <button class="btn btn-sm btn-danger" name="id" th:value="${beritaAcaraPo.id}"
                                        type="submit">Hapus
                                </button>
                            </form>
                            <form method="GET" th:action="@{/berita-acara-po/isi}">
                                <button class="btn btn-sm btn-danger" name="id" th:value="${beritaAcaraPo.id}"
                                        type="submit">Isi
                                </button>
                            </form>
                            <form action="GET" th:action="@{/berita-acara-po/invoice/tambah}"
                                  th:if="${beritaAcaraPo.status.id == 1}">
                                <button class="btn btn-sm btn-danger" name="id" th:value="${beritaAcaraPo.id}"
                                        type="submit">Isi Invoice
                                </button>
                            </form>
                            <form method="GET" th:action="@{/berita-acara-po/ubah}">
                                <button class="btn btn-sm btn-danger" name="id" th:value="${beritaAcaraPo.id}"
                                        type="submit">Ubah
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table th:unless="${daftarBeritaAcaraPo.size() != 0}">
                    <thead>
                    </thead>
                    <tbody>
                    <h5>Tidak ada BA PO</h5>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>