<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Isi BA PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="col-lg-offset-0" th:href="@{/berita-acara-po/}">Daftar BA PO</a></li>
            <li class="active">Isi BA PO</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Isi BA PO
            </div>
            <div class="panel-body">
                <form th:action="@{/berita-acara-po/isi}" th:method="POST" th:object="${beritaAcara}">
                    <input name="id" th:field="${beritaAcara.id}" type="hidden"/>
                    <div class="form-group">
                        <label>Nomor PO</label>
                        <input name="purchaseOrderId"
                               th:value="${beritaAcara.purchaseOrder.id}" type="hidden">
                        <input class="form-control" disabled th:value="${beritaAcara.purchaseOrder.nomor}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nomor BA</label>
                        <input class="form-control" name="nomorBa" th:value="${beritaAcara.nomorBa}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Jenis Pekerjaan</label>
                        <select class="form-control" name="jenisPekerjaan">
                            <option th:selected="${'Pemasangan' == beritaAcara.jenisPekerjaan}" th:text="Pemasangan"
                                    th:value="Pemasangan"></option>
                            <option th:selected="${'Pemesanan' == beritaAcara.jenisPekerjaan}" th:text="Pemesanan"
                                    th:value="Pemesanan"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Jenis Berita Acara</label>
                        <input class="form-control" name="jenisBeritaAcara" th:value="${beritaAcara.jenisBeritaAcara}"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Terbit</label>
                        <input class="form-control" name="tanggalTerbit" th:value="${beritaAcara.tanggalTerbit}"
                               type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kirim</label>
                        <input class="form-control" name="tanggalKirim" th:value="${beritaAcara.tanggalKirim}"
                               type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kembali</label>
                        <input class="form-control" name="tanggalKembali" th:value="${beritaAcara.tanggalKembali}"
                               type="date">
                    </div>
                    <div class="form-group">
                        <label>Status Berita Acara</label>
                        <select class="form-control" name="statusBeritaAcaraId">
                            <option th:each="status : ${daftarStatusBA}"
                                    th:selected="${status.id == beritaAcara.status.id}"
                                    th:text="${status.status}"
                                    th:value="${status.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Periode Berita Acara</label>
                        <input class="form-control" name="periodeBeritaAcara"
                               th:value="${beritaAcara.periodeBeritaAcara}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Is Approved</label>
                        <select class="form-control" name="approve">
                            <option th:selected="${beritaAcara.approve}" th:text="'Approved'" th:value="1"></option>
                            <option th:selected="${!beritaAcara.approve}" th:text="'Not Approved'"
                                    th:value="0"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>