<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Detail Invoice</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/berita-acara-po/}">Daftar BA PO</a></li>
            <li class="active">Detail BA PO</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Detail Invoice
            </div>
            <div class="panel-body">
                <div class="main-content">
                    <div th:if="${beritaAcara != null}">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td><b>Nomor PO</b></td>
                                <td><a th:text="${beritaAcara.purchaseOrder.nomor}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Nomor BA</b></td>
                                <td><a th:text="${beritaAcara.nomorBa}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Jenis Pekerjaan</b></td>
                                <td><a th:text="${beritaAcara.jenisPekerjaan}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Jenis BA</b></td>
                                <td><a th:text="${beritaAcara.jenisBeritaAcara}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Terbit</b></td>
                                <td><a th:text="${beritaAcara.tanggalTerbit}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Kirim</b></td>
                                <td><a th:text="${beritaAcara.tanggalKirim}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Kembali</b></td>
                                <td><a th:text="${beritaAcara.tanggalKembali}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Status BA</b></td>
                                <td><a th:text="${beritaAcara.status.status}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Invoice</b></td>
                                <td><a th:text="${beritaAcara.invoice} ? ${beritaAcara.invoice.nomor} : 'NULL'"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Periode BA</b></td>
                                <td><a th:text="${beritaAcara.periodeBeritaAcara}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Is Approved</b></td>
                                <td><a th:text="${beritaAcara.approve} ? 'Approved':'Not Approved'"></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <form th:action="@{/berita-acara-po/ubah}">
                            <button class="btn btn-sm btn-primary" name="id"
                                    th:value="${beritaAcara.id}" type="submit">Ubah
                            </button>
                        </form>
                        <form method="post" th:action="@{/berita-acara-po/hapus}">
                            <button name="id" th:value="${beritaAcara.id}"
                                    type="submit">Hapus
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>