<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Tambah Karyawan</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;"
                   th:href="${source}"
                   th:text="${source.contains('cabang') ? 'Cabang ' + cabang.nama : 'Daftar Customer'}"></a>
            </li>
            <li class="active">Tambah Karyawan</li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Tambah Karyawan</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-2"></div>
            <div class="col-6 col-md-8" style="padding-left: 3rem; padding-right: 3rem;">
                <div style="padding-top: 1rem; padding-bottom: 1rem">
                    <label style="color: #DF4147"> *</label> <label> Harus diisi</label>
                </div>
                <form method="post" th:action="@{/karyawan/tambah?source=} + ${source}">
                    <label>Nama</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nama" type="text">
                    <br>

                    <div class="form-group">
                        <label>Alamat</label> <label style="color: #DF4147"> *</label>
                        <textarea class="form-control" name="alamat" rows="5" type="text"></textarea>
                    </div>

                    <label>Nomor Telepon</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nomorTelepon" type="text">
                    <br>

                    <label>E-mail</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="email" type="text">
                    <br>

                    <label>Username</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="username" type="text">
                    <br>

                    <div class="form-group">
                        <label>Password</label> <label style="color: #DF4147"> *</label>
                        <div class="input-group" id="show_hide_password">
                            <input class="form-control" id="password" name="password" type="password">
                            <div class="input-group-addon">
                                <a href=""><i aria-hidden="true" class="fa fa-eye-slash"></i></a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Role</label> <label style="color: #DF4147"> *</label>
                        <select class="form-control" name="role">
                            <option disabled hidden selected value="">-- Pilih Role --</option>
                            <option th:each="roleAvailable : ${listRole}" th:text="${roleAvailable.nama}"
                                    th:value="${roleAvailable.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cabang</label>
                        <input name="cabang" th:if="${idCabang != ''}" th:value="${idCabang}" type="hidden">
                        <select class="form-control" name="cabang" th:disabled="${idCabang != ''}">
                            <option th:value="${null}">No Cabang</option>
                            <option th:each="cabangAvailable : ${listCabang}"
                                    th:selected="${cabangAvailable.id == idCabang}"
                                    th:text="${cabangAvailable.nama}" th:value="${cabangAvailable.id}"></option>
                        </select>
                    </div>

                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
</script>

</body>
</html>