<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Pindah Cabang</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li th:if="${karyawan.cabang}"><a style="color: #0f0f0f; text-decoration: none;"
                                              th:href="@{/cabang/profil/} + ${karyawan.cabang.id}"
                                              th:text="'Cabang ' + ${karyawan.cabang.nama}"></a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/karyawan/profil/} + ${karyawan.username}"
                   th:text="${karyawan.nama}"></a></li>
            <li class="active" th:text="'Pindahkan Karyawan'"></li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Pindahkan Karyawan</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">

                <form th:action="@{/karyawan/pindah-cabang}" th:method="POST" th:object="${karyawan}">
                    <input th:field="${karyawan.uuid}" type="hidden"/>
                    <input th:field="${karyawan.username}" type="hidden"/>
                    <label>Cabang</label>
                    <select class="form-control" name="cabang">
                        <option th:each="cabangAvailable : ${listCabang}"
                                th:selected="${karyawan.cabang != null && karyawan.cabang.id==cabangAvailable.id}"
                                th:text="${cabangAvailable.nama}" th:value="${cabangAvailable.id}"></option>
                    </select>
                    <br>
                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>