<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Edit Karyawan</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li th:if="${karyawan.cabang}"><a style="color: #0f0f0f; text-decoration: none;"
                                              th:href="@{/cabang/profil/} + ${karyawan.cabang.id}"
                                              th:text="'Cabang ' + ${karyawan.cabang.nama}"></a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/karyawan/profil/} + ${karyawan.username}"
                   th:text="${karyawan.nama}"></a></li>
            <li class="active" th:text="'Ubah Karyawan ' + ${karyawan.nama}"></li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Udah Karyawan</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                <div style="padding-top: 1rem; padding-bottom: 1rem">
                    <label style="color: #DF4147"> *</label> <label> Harus diisi</label>
                </div>

                <form th:action="@{/karyawan/ubah}" th:method="POST" th:object="${karyawan}">
                    <input th:field="${karyawan.uuid}" type="hidden"/>
                    <label>Nama</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nama" th:value="${karyawan.nama}" type="text">
                    <br>

                    <div class="form-group">
                        <label>Alamat</label> <label style="color: #DF4147"> *</label>
                        <textarea class="form-control" name="alamat" rows="5" th:field="*{alamat}"></textarea>
                        <br>
                    </div>

                    <label>Nomor Telepon</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nomorTelepon" th:value="${karyawan.nomorTelepon}" type="text">
                    <br>

                    <label>E-mail</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="email" th:value="${karyawan.email}" type="text">
                    <br>

                    <label>Username</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="username" th:value="${karyawan.username}" type="text">
                    <br>

                    <div class="form-group">
                        <label>Password</label> <label style="color: #DF4147"> *</label>
                        <div class="input-group" id="show_hide_password">
                            <input class="form-control" id="password" name="password" type="password">
                            <div class="input-group-addon">
                                <a href=""><i aria-hidden="true" class="fa fa-eye-slash"></i></a>
                            </div>
                        </div>
                    </div>

                    <div th:if="${role.equals('Admin')}">
                        <label>Status</label>
                        <select name="status">
                            <option th:each="status : ${listStatus}" th:selected="${karyawan.status.id==status.id}"
                                    th:text="${status.status}" th:value="${status.status}"></option>
                        </select>
                        <br>
                    </div>
                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
</script>

</body>
</html>