<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Daftar Customer</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Karyawan</li>
        </ol>
    </div>

    <!--DAFTAR KARYAWAN-->
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Daftar Karyawan</div>
            <div style="padding: 1rem" th:if="${newKaryawan != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Karyawan ' + ${newKaryawan} + ' berhasil ditambahkan !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="${succmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>

            </div>
            <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                <a style="color: white;" th:href="@{/karyawan/tambah?source=} + ${#httpServletRequest.requestURI}">
                    <button class="btn btn-danger">Tambah Karyawan</button>
                </a>
            </div>

            <div class="table-responsive">
                <table class="row-border" id="example" th:if="${daftarKaryawan.size() != 0 }">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Cabang</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Nomor Telepon</th>
                        <th scope="col">Email</th>
                        <th scope="col">Jabatan</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="karyawan, iterator : ${daftarKaryawan}">
                        <th scope="row" th:text="${iterator.count}">
                        </th>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/karyawan/profil/} + ${karyawan.username}"
                               th:text="${karyawan.nama}"></a>
                        </td>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/cabang/profil/} + ${karyawan.cabang.id}"
                               th:if="${karyawan.cabang}"
                               th:text="${karyawan.cabang.nama}"></a>
                            <object th:unless="${karyawan.cabang}">-</object>
                        </td>
                        <td th:text="${karyawan.alamat}">
                        </td>
                        <td th:text="${karyawan.nomorTelepon}">
                        </td>
                        <td th:text="${karyawan.email}">
                        </td>
                        <td th:text="${karyawan.role.nama}">
                        </td>
                        <td th:text="${karyawan.status.status}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5 style="padding-left: 1rem; padding-bottom: 2rem" th:unless="${daftarKaryawan.size() != 0}">Tidak ada
                karyawan</h5>
        </div>
    </div>
    <!--DAFTAR KARYAWAN END-->
</div>
</body>
</html>