<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-3 col-lg-2 sidebar" id="sidebar-collapse" th:fragment="sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img alt="" class="img-responsive" th:src="@{/img/ppph.png}">
        </div>
        <div class="profile-usertitle">
            <a class="profile-usertitle-name" style="text-decoration: none;"
               th:href="@{/karyawan/profil/} + ${#authentication.principal.username}">
                <div class="profile-usertitle-name" th:text="${#authentication.principal.nama}"></div>
            </a>
            <div class="profile-usertitle-status" th:text="${#authentication.principal.role}"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <ul class="nav menu">
        <li th:class="${#httpServletRequest.requestURI.equals('/')} ? 'active':''"><a href="/"><em
                class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/area')} ? 'active':''"><a href="/area"><em
                class="fa fa-map">&nbsp;</em> Area</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/cabang')} ? 'active':''"><a href="/cabang"><em
                class="fa fa-building">&nbsp;</em> Cabang</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/customer')} ? 'active':''"><a href="/customer"><em
                class="fa fa-user-tag">&nbsp;</em> Customer</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/invoice')} ? 'active':''"><a href="/invoice/"><em
                class="fa fa-receipt">&nbsp;</em> Invoice</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/kontrak-servis')} ? 'active':''"><a
                href="/kontrak-servis/"><em class="fa fa-file-signature">&nbsp;</em>
            Kontrak Servis</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/unit-po')} ? 'active':''"><a
                href="/unit-po/"><em class="fa fa-clipboard">&nbsp;</em>Unit PO</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/purchase-order')} ? 'active':''"><a
                href="/purchase-order/"><em class="fa fa-clipboard-list">&nbsp;</em>Purchase Order</a></li>
        <li th:class="${#httpServletRequest.requestURI.contains('/karyawan')} ? 'active':''"><a href="/karyawan"><em
                class="fa fa-users">&nbsp;</em> Users</a></li>
        <!--<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>-->
    </ul>
</div><!--/.sidebar-->
</body>
</html>