<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Tambah Area</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="${source}"
                   th:text="${source.contains('cabang')} ? 'Cabang ' + ${cabang.nama} : 'Daftar Area'"></a></li>
            <li class="active">Tambah Area</li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Tambah Area</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                <div style="padding-top: 1rem; padding-bottom: 1rem">
                    <label style="color: #DF4147"> *</label> <label> Harus diisi</label>
                </div>
                <form method="post" th:action="@{/area/tambah?source=} + ${source}">
                    <label>Nama Area</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nama" placeholder="Masukkan Nama Area..." type="text">
                    <br>
                    <div class="form-group">
                        <label>Alamat</label> <label style="color: #DF4147"> *</label>
                        <textarea class="form-control" name="alamat" placeholder="Masukkan Alamat..."
                                  rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Cabang</label> <label style="color: #DF4147"> *</label>
                        <input name="cabang" th:if="${idCabang != 0}" th:value="${idCabang}" type="hidden">
                        <select class="form-control" name="cabang" th:disabled="${idCabang != 0}">
                            <option th:each="cabang : ${daftarCabang}" th:selected="${cabang.id==idCabang}"
                                    th:text="${cabang.nama}"
                                    th:value="${cabang.id}"></option>
                        </select>
                    </div>

                    <div class="form-group" th:if="${idCabang != 0}">
                        <label>Kepala Area</label>
                        <select class="form-control" name="kepalaArea">
                            <option selected th:value="''">Tanpa Kepala Area</option>
                            <option th:each="karyawan : ${daftarKaryawan}"
                                    th:text="${karyawan.nama} + ' - ' + ${karyawan.role.nama}"
                                    th:value="${karyawan.uuid}"></option>
                        </select>
                    </div>

                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>