<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Daftar Cabang</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Area</li>
        </ol>
    </div>


    <!--DAFTAR AREA-->
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Daftar Area</div>
            <div style="padding: 1rem" th:if="${newArea != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Area ' + ${newArea} + ' berhasil ditambahkan !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="${succmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>

            </div>
            <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                <a style="color: white;" th:href="@{/area/tambah?source=} + ${#httpServletRequest.requestURI}">
                    <button class="btn btn-danger">Tambah Area</button>
                </a>
            </div>

            <div class="table-responsive">
                <table class="row-border" id="example" th:if="${daftarArea.size() != 0 }">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Kepala Area</th>
                        <th scope="col">Cabang</th>
                    </tr>
                    </thead>
                    <tbody id="table-row">
                    <tr th:each="area, iterator : ${daftarArea}">
                        <th scope="row" th:text="${iterator.count}"></th>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/area/profil/} + ${area.id}"
                               th:text="${area.nama}"></a>
                        </td>
                        <td th:text="${area.alamat}">
                        </td>
                        <td th:if="${area.kepalaArea != null}">
                            <a style="color: #DF4147;" th:href="@{/karyawan/profil/} + ${area.kepalaArea.username}"
                               th:text="${area.kepalaArea.nama}"></a>
                        </td>
                        <td th:unless="${area.kepalaArea != null}">
                            <a style="color: #DF4147;">-</a>
                        </td>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/cabang/profil/} + ${area.cabang.id}"
                               th:text="${area.cabang.nama}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5 style="padding-left: 1rem; padding-bottom: 2rem" th:unless="${daftarArea.size() != 0}">Tidak ada
                area</h5>
        </div>
    </div>
    <!--DAFTAR AREA END-->
</div>
</body>
</html>