<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Edit Area</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/profil/} + ${area.cabang.id}"
                   th:text="'Cabang ' + ${area.cabang.nama}"></a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/area/profil/} + ${area.id}"
                   th:text="'Area ' + ${area.nama}"></a></li>
            <li class="active" th:text="'Ubah Area ' + ${area.nama}"></li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Udah Area</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                <div style="padding-top: 1rem; padding-bottom: 1rem">
                    <label style="color: #DF4147"> *</label> <label> Harus diisi</label>
                </div>

                <form th:action="@{/area/ubah}" th:method="POST" th:object="${area}">
                    <input th:field="${area.id}" type="hidden"/>
                    <label>Nama Area</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nama" th:value="${area.nama}" type="text">
                    <br>

                    <div class="form-group">
                        <label>Alamat</label> <label style="color: #DF4147"> *</label>
                        <textarea class="form-control" name="alamat" rows="5" th:field="*{alamat}"></textarea>
                    </div>

                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>