<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Profil</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/profil/} + ${area.cabang.id}"
                   th:text="'Cabang ' + ${area.cabang.nama}"></a></li>
            <li class="active" th:text="'Detail Area ' + ${area.nama}"></li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Detail Area</div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Area ' + ${area.nama} + ' berhasil ' + ${succmsg} + ' !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Nama</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${area.nama}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Alamat</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${area.alamat}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Cabang</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <a style="color: #D92027" th:href="@{/cabang/profil/} + ${area.cabang.id}"
                       th:text="${area.cabang.nama}"></a>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Kepala Area</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <a style="color: #D92027"
                       th:href="@{/karyawan/profil/} + ${area.kepalaArea.username}"
                       th:if="${area.kepalaArea != null}"
                       th:text="${area.kepalaArea.nama}"></a>
                    <object th:unless="${area.kepalaArea != null}">-</object>
                </div>
            </div>

            <div class="row" style="padding-top: 1rem; padding-right: 2rem; padding-left: 2rem;">
                <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/area/pilih-kepala}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-warning btn-block" name="id" th:value="${area.id}" type="submit">
                            Pilih Kepala
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/area/masukkan-customer}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-default btn-block" name="id" th:value="${area.id}" type="submit">
                            Masukkan Customer
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/area/ubah}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-info btn-block" name="id" th:value="${area.id}" type="submit">
                            Ubah
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <!-- Button trigger modal -->
                    <button class="btn btn-danger btn-block" data-target="#exampleModal" data-toggle="modal"
                            th:if="${role.equals('Admin')}" type="button">
                        Hapus
                    </button>
                </div>
            </div>
            <div style="padding: 1rem">
                <div class="panel panel-default">
                    <div class="panel-body tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">Customer</a></li>
                            <li><a data-toggle="tab" href="#tab2">Riwayat</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <!--DAFTAR CUSTOMER-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Customer</div>
                                        <div style="padding: 1rem" th:if="${newCustomer != null}">
                                            <div class="alert bg-teal" role="alert">
                                                <object th:text="'Customer baru berhasil ditambahkan !'"></object>
                                                <a class="pull-right" data-dismiss="alert" href="#">
                                                    <em class="fa fa-lg fa-close"></em></a></div>
                                        </div>
                                        <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                                            <a style="color: white;"
                                               th:href="@{/customer/tambah?idArea=} + ${area.id} + @{&idCabang=} + ${area.cabang.id} + @{&source=} + ${#httpServletRequest.requestURI}">
                                                <button class="btn btn-danger">Tambah Customer</button>
                                            </a>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example3"
                                                   th:if="${area.daftarCustomer.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nama</th>
                                                    <th scope="col">Alamat</th>
                                                    <th scope="col">Nomor Telepon</th>
                                                    <th scope="col">Nomor Fax</th>
                                                    <th scope="col">Email</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="customer, iterator : ${area.daftarCustomer}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/customer/profil/} + ${customer.id}"
                                                           th:text="${customer.nama}"></a>
                                                    </td>
                                                    <td th:text="${customer.alamat}">
                                                    </td>
                                                    <td th:text="${customer.nomorTelepon}">
                                                    </td>
                                                    <td th:text="${customer.nomorFax}">
                                                    </td>
                                                    <td th:text="${customer.email}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${area.daftarCustomer.size() != 0}">Tidak ada
                                            customer</h5>
                                    </div>
                                </div>
                                <!--DAFTAR CUSTOMER END-->
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <!--DAFTAR LOG-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Riwayat</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example" th:if="${logs.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Judul</th>
                                                    <th scope="col">Deskripsi</th>
                                                    <th scope="col">Tanggal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="log, iterator : ${logs}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td th:text="${log.judul}">
                                                    </td>
                                                    <td th:text="${log.deskripsi}">
                                                    </td>
                                                    <td th:text="${log.tanggal}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${logs.size() != 0}">Tidak ada
                                            riwayat</h5>
                                    </div>
                                </div>
                                <!--DAFTAR LOG END-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Konfirmasi Penghapusan Area</h4>
            </div>
            <div class="modal-body">
                <p th:text="'Apakah Anda ingin menghapus Area ' + ${area.nama}"></p>
            </div>
            <div class="modal-footer">
                <div class="col-md-8"></div>
                <div class="col col-md-2" style="padding-bottom: 1rem">
                    <button class="btn btn-block btn-default" data-dismiss="modal" type="button">Tidak
                    </button>
                </div>
                <div class="col-md-2" style="padding-bottom: 1rem">
                    <form method="post" th:action="@{/area/hapus}">
                        <button class="btn btn-block btn-danger" name="id" th:value="${area.id}" type="submit">
                            Hapus
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>