<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Tambah PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/purchase-order/}">Daftar Purchase Order</a></li>
            <li class="active">Tambah Purchase Order</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Tambah Purchase Order
                </div>
                <div class="panel-body">

                    <form method="post" th:action="@{/purchase-order/tambah}" th:object="${purchaseOrder}">
                        <div class="form-group">
                            <label>Nomor</label>
                            <input class="form-control" name="nomor" th:field="*{nomor}" type="text">
                        </div>
                        <div class="form-group">
                            <label>Customer</label>
                            <select class="form-control" name="customerId" th:field="*{customerId}">
                                <option th:each="customer : ${daftarCustomer}"
                                        th:selected="${idCustomer == customer.id}"
                                        th:text="${customer.nama}"
                                        th:value="${customer.id}"></option>
                            </select>
                        </div>
                        <a class="fa fa-plus-square color-red" th:href="@{/customer/tambah}">
                        </a>
                        <div class="form-group">
                            <label>Jenis Pekerjaan</label>
                            <select class="form-control" name="jenisPekerjaan" th:field="*{jenisPekerjaan}">
                                <option selected="true" th:text="Pemasangan" th:value="Pemasangan"></option>
                                <option th:text="Pemesanan" th:value="Pemesanan"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Keterangan</label>
                            <textarea class="form-control" cols="30" name="keterangan" rows="10"
                                      th:field="*{keterangan}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tanggal Terima</label>
                            <input class="form-control" name="tanggalTerima" th:field="*{tanggalTerima}" type="date">
                        </div>
                        <div class="form-group">
                            <label>nomorFaktur</label>
                            <input class="form-control" name="nomorFaktur" th:field="*{nomorFaktur}" type="text">
                        </div>
                        <div class="form-group">
                            <label>tanggalPengirimanSparepart</label>
                            <input class="form-control" name="tanggalPengirimanSparepart"
                                   th:field="*{tanggalPengirimanSparepart}" type="date">
                        </div>
                        <div class="form-group">
                            <label>Penanggung Jawab</label>
                            <select class="form-control" name="penanggungjawabId" th:field="*{penanggungjawabId}">
                                <option th:each="karyawan : ${daftarKaryawan}"
                                        th:selected="${karyawan.uuid == idKaryawan}"
                                        th:text="${karyawan.nama}"
                                        th:value="${karyawan.uuid}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Alamat Pemasangan</label>
                            <textarea class="form-control" cols="20" name="alamatPemasangan" rows="10"
                                      th:field="*{alamatPemasangan}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Daftar Unit</label>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>
                                        <button class="btn btn-danger" name="addUnit" type="submit">Tambah Unit</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="unit, iter : *{daftarDataUnitPO}">
                                    <td>
                                        <input class="form-control"
                                               name="jumlahDipesan"
                                               th:field="*{daftarDataUnitPO[__${iter.index}__].jumlahDipesan}"
                                               type="number">
                                    </td>
                                    <td>
                                        <select class="form-control" name="unitPOId"
                                                th:field="*{daftarDataUnitPO[__${iter.index}__].unitPOId}">
                                            <option th:each="unitPO : ${daftarUnitPO}"
                                                    th:selected="${unitPO.id == idUnitPO}"
                                                    th:text="${unitPO.nama}"
                                                    th:value="${unitPO.id}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" name="removeUnit" th:value="${iter.index}"
                                                type="submit">
                                            Hapus Unit
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary" type="submit">Tambah</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>