<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Purchase Order</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="col-lg-offset-0 colorless-link" th:href="@{/purchase-order/}">Daftar Purchase Order</a></li>
            <li class="active">Ubah Status PO</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah Status PO
            </div>
            <div class="panel-body">
                <form th:action="@{/purchase-order/ubah-status-po}" th:method="POST" th:object="${purchaseOrder}">
                    <input name="id" th:field="${purchaseOrder.id}" type="hidden"/>
                    <div class="form-group">
                        <label>Nomor PO</label>
                        <input class="form-control" disabled name="nomor" th:value="${purchaseOrder.nomor}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Pemasangan Sparepart</label>
                        <input class="form-control" name="tanggalPemasanganSparepart"
                               th:value="${purchaseOrder.tanggalPemasanganSparepart}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Status PO</label>
                        <select class="form-control" name="statusPOId">
                            <option th:each="statusPO : ${daftarStatusPO}"
                                    th:selected="${purchaseOrder.statusPo.id==statusPO.id}"
                                    th:text="${statusPO.status}"
                                    th:value="${statusPO.id}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>