<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Ubah PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="col-lg-offset-0" th:href="@{/purchase-order/}">Daftar Purchase Order</a></li>
            <li class="active">Ubah Purchase Order</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Ubah Purchase Order
                </div>
                <div class="panel-body">
                    <form th:action="@{/purchase-order/ubah}" th:method="POST" th:object="${purchaseOrder}">
                        <input name="id" th:field="${purchaseOrder.id}" type="hidden"/>
                        <div class="form-group">
                            <label>Nomor</label>
                            <input class="form-control" name="nomor" th:field="*{nomor}" type="text">
                        </div>
                        <div class="form-group">
                            <label>Customer</label>
                            <select class="form-control" name="customerId">
                                <option th:each="customer : ${daftarCustomer}"
                                        th:selected="*{customerId}==${customer.id}"
                                        th:text="${customer.nama}"
                                        th:value="${customer.id}"></option>
                            </select>
                        </div>
                        <a class="fa fa-plus-square color-red" th:href="@{/customer/tambah}"></a>
                        <div class="form-group">
                            <label>Jenis Pekerjaan</label>
                            <select class="form-control" name="jenisPekerjaan">
                                <option th:selected="*{jenisPekerjaan == 'Pemasangan'}" th:text="Pemasangan"
                                        th:value="Pemasangan"></option>
                                <option th:selected="*{jenisPekerjaan == 'Pemesanan'}" th:text="Pemesanan"
                                        th:value="Pemesanan"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Keterangan</label>
                            <textarea class="form-control" cols="30" name="keterangan" rows="10"
                                      th:field="*{keterangan}"
                                      th:text="${purchaseOrder.keterangan}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tanggal Terima</label>
                            <input class="form-control" name="tanggalTerima"
                                   th:field="*{tanggalTerima}" type="date">
                        </div>
                        <div class="form-group">
                            <label>nomorFaktur</label>
                            <input class="form-control" name="nomorFaktur"
                                   th:field="*{nomorFaktur}" type="text">
                        </div>
                        <div class="form-group">
                            <label th:class="*{tanggalPemasanganSparepart} != null ? '':color-red">Tanggal Pemasangan
                                Sparepart</label>
                            <input class="form-control" name="tanggalPemasanganSparepart"
                                   th:field="*{tanggalPemasanganSparepart}" type="date">
                        </div>
                        <div class="form-group">
                            <label>tanggalPengirimanSparepart</label>
                            <input class="form-control" name="tanggalPengirimanSparepart"
                                   th:field="*{tanggalPengirimanSparepart}" type="date">
                        </div>
                        <div class="form-group">
                            <label>Penanggung Jawab</label>
                            <select class="form-control" name="penanggungjawabId">
                                <option th:each="karyawan : ${daftarKaryawan}"
                                        th:selected="*{penanggungjawabId}==${karyawan.uuid}"
                                        th:text="${karyawan.nama}"
                                        th:value="${karyawan.uuid}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Status PO</label>
                            <select class="form-control" disabled name="statusPOId">
                                <option th:each="statusPO : ${daftarStatusPO}"
                                        th:selected="*{statusPOId}==${statusPO.id}"
                                        th:text="${statusPO.status}"
                                        th:value="${statusPO.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>statusSparepart</label>
                            <select class="form-control" name="statusSparepartId">
                                <option th:each="statusSparepart : ${daftarStatusSparepart}"
                                        th:selected="*{statusSparepartId}==${statusSparepart.id}"
                                        th:text="${statusSparepart.status}"
                                        th:value="${statusSparepart.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Alamat Pemasangan</label>
                            <textarea class="form-control" cols="20" name="alamatPemasangan" rows="10"
                                      th:field="*{alamatPemasangan}"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Daftar Unit</label>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>
                                        <button class="btn btn-danger" name="addUnit" type="submit">Tambah Unit</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="unit, iter : *{daftarDataUnitPO}">
                                    <input name="id" th:field="*{daftarDataUnitPO[__${iter.index}__].id}" type="hidden">
                                    <td>
                                        <input class="form-control"
                                               name="jumlahDipesan"
                                               th:field="*{daftarDataUnitPO[__${iter.index}__].jumlahDipesan}"
                                               type="number">
                                    </td>
                                    <td>
                                        <select class="form-control" name="unitPOId"
                                                th:field="*{daftarDataUnitPO[__${iter.index}__].unitPOId}">
                                            <option th:each="unitPO : ${daftarUnitPO}"
                                                    th:selected="${unitPO.id == idUnitPO}"
                                                    th:text="${unitPO.nama}"
                                                    th:value="${unitPO.id}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" name="removeUnit" th:value="${iter.index}"
                                                type="submit">
                                            Hapus Unit
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>