<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Ubah Status Sparepart PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="col-lg-offset-0 colorless-link" th:href="@{/purchase-order/}">Daftar Purchase Order</a></li>
            <li class="active">Ubah Status PO</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah Status Sparepart
            </div>
            <div class="panel-body">
                <form th:action="@{/purchase-order/ubah-status-sparepart}" th:method="POST"
                      th:object="${purchaseOrder}">
                    <input name="id" th:field="${purchaseOrder.id}" type="hidden"/>
                    <label>Nomor PO</label>
                    <input class="form-control" disabled name="nomor" th:value="${purchaseOrder.nomor}" type="text">
                    <br>
                    <label>Status Sparepart</label>
                    <select class="form-control" name="statusSparepartId">
                        <option th:each="statusSparepart : ${daftarStatusSparepart}"
                                th:selected="${purchaseOrder.statusSparepart.id==statusSparepart.id}"
                                th:text="${statusSparepart.status}"
                                th:value="${statusSparepart.id}"></option>
                    </select>
                    <br>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>