<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Purchase Order</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Purchase Order</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">
                Daftar Purchase Order
            </div>
            <div class="panel-body">
                <div class="main-content">
                    <a class="btn color-red2" th:href="@{/purchase-order/tambah}">
                        Tambah
                    </a>
                    <div th:if="${daftarPurchaseOrder != null}">
                        <table class="row-border" id="example" th:if="${daftarPurchaseOrder.size() != 0 }">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Nomor</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Tanggal Terima</th>
                                <th scope="col">Nomor Faktur</th>
                                <th scope="col">Tanggal Pemasangan Sparepart</th>
                                <th scope="col">Tanggal Pengiriman Sparepart</th>
                                <th scope="col">Status PO</th>
                                <th scope="col">Status Sparepart</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="purchaseOrder: ${daftarPurchaseOrder}">
                                <td>
                                    <a th:href="@{/purchase-order/profil/} + ${purchaseOrder.id}"
                                       th:text="${purchaseOrder.nomor}"></a>
                                </td>
                                <td th:text="${purchaseOrder.customer.nama}"></td>
                                <td th:text="${purchaseOrder.tanggalTerima}"></td>
                                <td th:text="${purchaseOrder.nomorFaktur}"></td>
                                <td th:text="${purchaseOrder.tanggalPemasanganSparepart != null} ? ${purchaseOrder.tanggalPemasanganSparepart} : 'Belum diset'"></td>
                                <td th:text="${purchaseOrder.tanggalPengirimanSparepart}"></td>
                                <td th:text="${purchaseOrder.statusPo.status}"></td>
                                <td th:text="${purchaseOrder.statusSparepart.status}"></td>
                                <td>
                                    <form method="post" th:action="@{/purchase-order/hapus}">
                                        <button class="btn btn-danger btn-sm" name="id"
                                                th:value="${purchaseOrder.id}"
                                                type="submit">Hapus
                                        </button>
                                    </form>
                                    <form method="get" th:action="@{/purchase-order/ubah}">
                                        <button class="btn btn-default btn-sm" name="id"
                                                th:value="${purchaseOrder.id}"
                                                type="submit">Ubah
                                        </button>
                                    </form>
                                    <form method="get" th:action="@{/purchase-order/ubah-status-sparepart}">
                                        <button class="btn btn-default btn-sm" name="id"
                                                th:value="${purchaseOrder.id}"
                                                type="submit">Ubah Status Sparepart
                                        </button>
                                    </form>
                                    <form method="post" th:action="@{/purchase-order/batalkan-status-po}"
                                          th:if="${purchaseOrder.statusPo.id!=3 && purchaseOrder.statusSparepart.id!=2}">
                                        <button class="btn btn-default btn-sm" name="id"
                                                th:value="${purchaseOrder.id}"
                                                type="submit">Batalkan PO
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${daftarPurchaseOrder.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Tidak ada PO</h5>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>