<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Purchase Order</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/purchase-order/}">Daftar Purchase Order</a></li>
            <li class="active">Detail Purchase Order</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Detail Purchase Order
                </div>
                <div class="panel-body">
                    <div class="main-content">
                        <div th:if="${purchaseOrder != null}">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><b>Nomor</b></td>
                                    <td><a th:text="${purchaseOrder.nomor}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Customer</b></td>
                                    <td><a th:text="${purchaseOrder.customer.nama}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Jenis Pekerjaan</b></td>
                                    <td><a th:text="${purchaseOrder.jenisPekerjaan}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Keterangan</b></td>
                                    <td><a th:text="${purchaseOrder.keterangan}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Tangal Terima</b></td>
                                    <td><a th:text="${purchaseOrder.tanggalTerima}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Nomor Faktur</b></td>
                                    <td><a th:text="${purchaseOrder.nomorFaktur}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Tanggal Pemasangan Sparepart</b></td>
                                    <td><a th:text="${purchaseOrder.tanggalPemasanganSparepart}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Tanggal Pengiriman Sparepart</b></td>
                                    <td><a th:text="${purchaseOrder.tanggalPengirimanSparepart}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Penanggung Jawab</b></td>
                                    <td><a th:text="${purchaseOrder.penanggungjawab.nama}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Status PO</b></td>
                                    <td><a th:text="${purchaseOrder.statusPo.status}"></a></td>
                                </tr>
                                <tr>
                                    <td><b>Status Sparepart</b></td>
                                    <td><a th:text="${purchaseOrder.statusSparepart.status}"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <a class="btn btn-sm btn-primary" th:href="@{/purchase-order/tambah}">Tambah</a>
                            <br>
                            <form th:action="@{/purchase-order/ubah}"
                                  th:if="${role == 'Admin' || role == 'Bagian PO'}">
                                <button class="btn btn-sm btn-primary" name="id"
                                        th:value="${purchaseOrder.id}" type="submit">Ubah
                                </button>
                            </form>
                            <br>
                            <form method="post" th:action="@{/purchase-order/hapus}"
                                  th:if="@{role == 'Admin || role == 'Bagian PO'}">
                                <button class="btn btn-sm btn-primary" name="id" th:value="${purchaseOrder.id}"
                                        type="submit">Hapus
                                </button>
                            </form>
                        </div>

                        <h4>Daftar Data Unit PO</h4>
                        <table class="table table-bordered" th:if="${daftarUnitPO.size() != 0}">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama Unit PO</th>
                                <th scope="col">Jumlah Dipesan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dataUnitPO: ${daftarUnitPO}">
                                <td th:text="${dataUnitPO.unitPo.nama}"></td>
                                <td th:text="${dataUnitPO.jumlahDipesan}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${daftarUnitPO.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Belum ada Unit PO</h5>
                            </tbody>
                        </table>

                        <h4>Daftar BA PO</h4>

                        <table class="table table-bordered"
                               th:if="${daftarBeritaAcaraPO != null && daftarBeritaAcaraPO.size() != 0}">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Nomor PO</th>
                                <th scope="col">Nomor BA</th>
                                <th scope="col">Jenis Pekerjaan</th>
                                <th scope="col">Jenis BA</th>
                                <th scope="col">Tanggal Terbit</th>
                                <th scope="col">Tanggal Kirim</th>
                                <th scope="col">Tanggal Kembali</th>
                                <th scope="col">Status</th>
                                <th scope="col">Nomor Invoice</th>
                                <th scope="col">Periode Berita Acara</th>
                                <th scope="col">Status Approved</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="beritaAcaraPO: ${daftarBeritaAcaraPO}">
                                <td>
                                    <a th:href="@{/purchase-order/profil/} + ${beritaAcaraPO.purchaseOrder.id}"
                                       th:text="${beritaAcaraPO.purchaseOrder.nomor}"></a>
                                </td>
                                <td>
                                    <a th:href="@{/berita-acara-po/profil/} + ${beritaAcaraPO.id}"
                                       th:text="${beritaAcaraPO.nomorBa}"></a>
                                </td>
                                <td th:text="${beritaAcaraPO.jenisPekerjaan}"></td>
                                <td th:text="${beritaAcaraPO.jenisBeritaAcara}"></td>
                                <td th:text="${beritaAcaraPO.tanggalTerbit}"></td>
                                <td th:text="${beritaAcaraPO.tanggalKirim}"></td>
                                <td th:text="${beritaAcaraPO.tanggalKembali}"></td>
                                <td th:text="${beritaAcaraPO.status.status}"></td>
                                <td th:text="${beritaAcaraPO.invoice != null} ? ${beritaAcaraPO.invoice.nomor}:'None'"></td>
                                <td th:text="${beritaAcaraPO.periodeBeritaAcara}"></td>
                                <td th:text="${beritaAcaraPO.approve} ? 'Approved':'Not Approved'"></td>
                                <td>
                                    <form action="post" th:action="@{/berita-acara-po/ubah}">
                                        <button class="btn btn-default btn-sm" name="id" th:value="${beritaAcaraPO.id}">
                                            Ubah
                                        </button>
                                    </form>
                                    <br>
                                    <form action="post" th:action="@{/berita-acara-po/isi}">
                                        <button class="btn btn-default btn-sm" name="id" th:value="${beritaAcaraPO.id}">
                                            Isi
                                        </button>
                                    </form>
                                    <br>
                                    <form method="post" th:action="@{/berita-acara-po/hapus}">
                                        <button class="btn btn-danger btn-sm" name="id" th:value="${beritaAcaraPO.id}"
                                                type="submit">Hapus
                                        </button>
                                    </form>
                                    <br>
                                    <form method="get" th:action="@{/berita-acara-po/invoice/tambah}"
                                          th:if="${beritaAcaraPO.status.id == 1}">
                                        <button class="btn btn-danger btn-sm" name="id" th:value="${beritaAcaraPO.id}"
                                                type="submit">Isi Invoice
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${daftarBeritaAcaraPO.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Belum ada BA PO</h5>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>