<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Daftar Notifikasi</title>
</head>

<body>
<div>
    <h3>Daftar Notifikasi</h3>
    <table th:if="${daftarNotifikasi.size() != 0 }">
        <tbody>
        <tr th:each="notifikasi : ${daftarNotifikasi}">
            <td>
                <a th:text="${notifikasi.notifikasi.judul}"></a>
            </td>
            <td>
                <a th:text="${notifikasi.notifikasi.deskripsi}"></a>
            </td>
            <td>
                <a th:text="${notifikasi.notifikasi.tanggal}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <table th:unless="${daftarNotifikasi.size() != 0}">
        <thead>
        </thead>
        <tbody>
        <h5>Tidak ada notifikasi</h5>
        </tbody>
    </table>
</div>
</body>
</html>