<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Ubah Status Invoice</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/invoice/}">Daftar </a></li>
            <li class="active">Ubah Status Invoice</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah Status Invoice
            </div>
            <div class="panel-body">
                <div class="main-content">
                    <form th:action="@{/invoice/ubah-status}" th:method="POST" th:object="${invoice}">
                        <input name="id" th:field="${invoice.id}" type="hidden"/>
                        <div class="form-group">
                            <label>Status Invoice</label>
                            <select class="form-control" name="statusInvoiceId">
                                <option th:each="status : ${daftarStatusInvoice}"
                                        th:selected="${invoice.status.id==status.id}"
                                        th:text="${status.status}"
                                        th:value="${status.id}"></option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>