<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Ubah Invoice</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/invoice/}">Daftar </a></li>
            <li class="active">Ubah Invoice</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah Invoice
            </div>
            <div class="panel-body">
                <div class="main-content">
                    <form th:action="@{/invoice/ubah}" th:method="POST" th:object="${invoice}">
                        <input name="id" th:field="${invoice.id}" type="hidden"/>
                        <div class="form-group">
                            <label>Jenis</label>
                            <input name="jenis" th:value="${invoice.jenis}" type="hidden">
                            <input class="form-control" disabled th:value="${invoice.jenis}" type="text">
                        </div>
                        <div class="form-group">
                            <label>Nomor Berita Acara</label>
                            <input class="form-control" disabled
                                   th:value="${invoice.beritaAcaraPo != null} ? ${invoice.beritaAcaraPo.nomorBa} : ${invoice.beritaAcaraServis.nomorSpk}"></input>
                        </div>
                        <div class="form-group">
                            <label>Penerima BA</label>
                            <select class="form-control" name="penerimaBaId">
                                <option th:each="karyawan : ${daftarKaryawan}"
                                        th:selected="${invoice.penerimaBa.uuid==karyawan.uuid}"
                                        th:text="${karyawan.nama}"
                                        th:value="${karyawan.uuid}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nomor Invoice</label>
                            <input class="form-control" name="nomor" th:value="${invoice.nomor}" type="text">
                        </div>
                        <div class="form-group">
                            <label>Tanggal Terbit</label>
                            <input class="form-control" name="tanggalTerbit" th:value="${invoice.tanggalTerbit}"
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label>Tanggal Kirim</label>
                            <input class="form-control" name="tanggalKirim" th:value="${invoice.tanggalKirim}"
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label>Tanggal Kembali</label>
                            <input class="form-control" name="tanggalKembali" th:value="${invoice.tanggalKembali}"
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label>Tanggal Jatuh Tempo</label>
                            <input class="form-control" name="tanggalJatuhTempo" th:value="${invoice.tanggalJatuhTempo}"
                                   type="date">
                        </div>
                        <div class="form-group">
                            <label>Jumlah Tagihan</label>
                            <input class="form-control" name="jumlahTagihan" th:value="${invoice.jumlahTagihan}"
                                   type="number">
                        </div>
                        <div class="form-group">
                            <label>Jumlah Pembayaran</label>
                            <input class="form-control" name="jumlahPembayaran" th:value="${invoice.jumlahPembayaran}"
                                   type="number">
                        </div>
                        <div class="form-group">
                            <label>status Invoice</label>
                            <select class="form-control" name="statusInvoiceId">
                                <option th:each="status : ${daftarStatusInvoice}"
                                        th:selected="${status.id == invoice.status.id}"
                                        th:text="${status.status}"
                                        th:value="${status.id}"></option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>