<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Daftar Invoice</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Invoice</li>
        </ol>
    </div><!--/.row-->
    <div class="panel panel-danger card">
        <div class="panel-heading">
            Daftar Invoice
        </div>
        <div class="panel-body">
            <div class="main-content">
                <a class="btn color-red2" th:href="@{/invoice/tambah}">
                    Tambah
                </a>
                <div th:if="${daftarInvoice != null}">
                    <table class="row-border" id="example" th:if="${daftarInvoice.size() != 0 }">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Jenis</th>
                            <th scope="col">Nomor BA</th>
                            <th scope="col">Penerima</th>
                            <th scope="col">Nomor Invoice</th>
                            <th scope="col">Tanggal Jatuh Tempo</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="invoice, iterator : ${daftarInvoice}">
                            <td scope="row" th:text="${iterator.count}">
                            </td>
                            <td th:text="${invoice.jenis}"></td>
                            <td>
                                <a th:href="@{/berita-acara-po/profil/} + ${invoice.beritaAcaraPo.id}"
                                   th:if="${invoice.beritaAcaraPo != null}"
                                   th:text="${invoice.beritaAcaraPo.nomorBa}"></a>
                                <a th:href="@{/berita-acara-servis/profil/} + ${invoice.beritaAcaraServis.id}"
                                   th:text="${invoice.beritaAcaraServis.nomorSpk}"
                                   th:unless="${invoice.beritaAcaraPo != null}"></a>
                            </td>
                            <td th:text="${invoice.penerimaBa.nama}"></td>
                            <td>
                                <a th:href="@{/invoice/profil/} + ${invoice.id}" th:text="${invoice.nomor}"></a>
                            </td>
                            <td th:text="${invoice.tanggalJatuhTempo}"></td>
                            <td th:text="${invoice.status.status}"></td>
                            <td>
                                <form method="post" th:action="@{/invoice/hapus}">
                                    <button class="btn btn-danger btn-sm" name="id" th:value="${invoice.id}"
                                            type="submit">Hapus
                                    </button>
                                </form>
                                <form method="GET" th:action="@{/invoice/ubah}">
                                    <button class="btn btn-danger btn-sm" name="id" th:value="${invoice.id}"
                                            type="submit">Ubah
                                    </button>
                                </form>
                                <form method="GET" th:action="@{/invoice/ubah-status}">
                                    <button class="btn btn-danger btn-sm" name="id" th:value="${invoice.id}"
                                            type="submit">Ubah Status
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table th:unless="${daftarInvoice.size() != 0}">
                        <thead>
                        </thead>
                        <tbody>
                        <h5>Tidak ada Invoice</h5>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>