<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Error Invoice</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/invoice/}">Daftar Invoice</a></li>
            <li class="active">Error</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Error Invoice
            </div>
            <div class="panel-body">
                <div class="main-content">
                    <div th:if="${errorMessage}">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <br>
                    <a class="btn btn-default btn-sm" th:href="@{/invoice}">
                        List Invoice
                    </a>
                    <a class="btn btn-default btn-sm" th:href="@{/invoice/tambah}">
                        Tambah Invoice
                    </a><br>
                    <a class="btn btn-default btn-sm" th:href="@{/}">
                        Kembali ke Beranda
                    </a><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="base :: scripts"></div>
</body>
</html>