<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Detail Invoice</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/invoice/}">Daftar Invoice</a></li>
            <li class="active">Detail Invoice</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Detail Invoice
            </div>
            <div class="panel-body">
                <div th:if="${invoice != null}">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>Jenis</b></td>
                            <td><a th:text="${invoice.jenis}"></a></td>
                        </tr>
                        <tr>
                            <td><b>No. SPK Berita Acara</b></td>
                            <td th:if="${invoice.beritaAcaraPo != null}"><a
                                    th:text="${invoice.beritaAcaraPo.nomorBa}"></a></td>
                            <td th:unless="${invoice.beritaAcaraPo != null}"><a
                                    th:text="${invoice.beritaAcaraServis.nomorSpk}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Penerima BA</b></td>
                            <td><a th:text="${invoice.penerimaBa.nama}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Nomor</b></td>
                            <td><a th:text="${invoice.nomor}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Tanggal Terbit</b></td>
                            <td><a th:text="${invoice.tanggalTerbit}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Tanggal Kirim</b></td>
                            <td><a th:text="${invoice.tanggalKirim}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Tanggal Kembali</b></td>
                            <td><a th:text="${invoice.tanggalKembali}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Tanggal Jatuh Tempo</b></td>
                            <td><a th:text="${invoice.tanggalJatuhTempo}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Jumlah Tagihan</b></td>
                            <td><a th:text="${invoice.jumlahTagihan}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Jumlah Pembayaran</b></td>
                            <td><a th:text="${invoice.jumlahPembayaran}"></a></td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td><a th:text="${invoice.status.status}"></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <form th:action="@{/invoice/ubah}">
                        <button class="btn btn-sm btn-primary" name="id"
                                th:value="${invoice.id}" type="submit">Ubah
                        </button>
                    </form>
                    <form method="post" th:action="@{/invoice/hapus}">
                        <button name="id" th:value="${invoice.id}"
                                type="submit">Hapus
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div th:insert="base :: scripts"></div>
</body>
</html>