<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Halaman Utama</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>
<!--DAFTAR CABANG-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="padding-left: 3rem">
    <div class="row">
        <h3>Daftar Cabang</h3>
        <div th:if="${role.equals('Admin')}">
            <a th:href="@{/cabang/tambah}">
                <button>Tambah Cabang</button>
            </a>
        </div>
        <table th:if="${daftarCabang.size() != 0 }">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Alamat</th>
                <th scope="col">Koordinator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cabang, iterator : ${daftarCabang}">
                <th scope="row">
                    <a th:text="${iterator.count}"></a>
                </th>
                <td>
                    <a th:href="@{/cabang/profil/} + ${cabang.id}"
                       th:text="${cabang.nama}"></a>
                </td>
                <td>
                    <a th:text="${cabang.alamat}"></a>
                </td>
                <td th:if="${cabang.koordinator != null}"><a
                        th:href="@{/karyawan/profil/} + ${cabang.koordinator.username}"
                        th:text="${cabang.koordinator.nama}"></a>
                </td>
                <td th:unless="${cabang.koordinator != null}"><a>-</a></td>
            </tr>
            </tbody>
        </table>
        <table th:unless="${daftarCabang.size() != 0}">
            <thead>
            </thead>
            <tbody>
            <h5>Tidak ada cabang</h5>
            </tbody>
        </table>
        <!--DAFTAR CABANG END-->
    </div>
    <div class="row">
        <!--DAFTAR KARYAWAN-->
        <div>
            <h3>Daftar Karyawan</h3>
            <div th:if="${role.equals('Admin')}">
                <a th:href="@{/karyawan/tambah}">
                    <button>Tambah Karyawan</button>
                </a>
            </div>
            <table th:if="${daftarKaryawan.size() != 0 }">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Nomor Telepon</th>
                    <th scope="col">Email</th>
                    <th scope="col">Jabatan</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="karyawan, iterator : ${daftarKaryawan}">
                    <th scope="row">
                        <a th:text="${iterator.count}"></a>
                    </th>
                    <td>
                        <a th:href="@{/karyawan/profil/} + ${karyawan.username}"
                           th:text="${karyawan.nama}"></a>
                    </td>
                    <td>
                        <a th:text="${karyawan.alamat}"></a>
                    </td>
                    <td>
                        <a th:text="${karyawan.nomorTelepon}"></a>
                    </td>
                    <td>
                        <a th:text="${karyawan.email}"></a>
                    </td>
                    <td>
                        <a th:text="${karyawan.role.nama}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table th:unless="${daftarKaryawan.size() != 0}">
                <thead>
                </thead>
                <tbody>
                <h5>Tidak ada karyawan</h5>
                </tbody>
            </table>
        </div>
        <!--DAFTAR KARYAWAN END-->
    </div>
    <div class="row">
        <!--DAFTAR AREA-->
        <div>
            <h3>Daftar Area</h3>
            <div th:if="${role.equals('Admin')}">
                <a th:href="@{/area/tambah}">
                    <button>Tambah Area</button>
                </a>
            </div>
            <table th:if="${daftarArea.size() != 0 }">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Kepala Area</th>
                    <th scope="col">Cabang</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="area, iterator : ${daftarArea}">
                    <th scope="row">
                        <a th:text="${iterator.count}"></a>
                    </th>
                    <td>
                        <a th:href="@{/area/profil/} + ${area.id}" th:text="${area.nama}"></a>
                    </td>
                    <td>
                        <a th:text="${area.alamat}"></a>
                    </td>
                    <td th:if="${area.kepalaArea != null}">
                        <a th:href="@{/karyawan/profil/} + ${area.kepalaArea.username}"
                           th:text="${area.kepalaArea.nama}"></a>
                    </td>
                    <td th:unless="${area.kepalaArea != null}">
                        <a>-</a>
                    </td>
                    <td>
                        <a th:href="@{/cabang/profil/} + ${area.cabang.id}"
                           th:text="${area.cabang.nama}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table th:unless="${daftarArea.size() != 0}">
                <thead>
                </thead>
                <tbody>
                <h5>Tidak ada area</h5>
                </tbody>
            </table>
        </div>
        <!--DAFTAR AREA END-->
    </div>
    <div class="row">
        <!--DAFTAR CUSTOMER-->
        <div>
            <h3>Daftar Customer</h3>
            <div th:if="${role.equals('Admin')}">
                <a th:href="@{/customer/tambah}">
                    <button>Tambah Customer</button>
                </a>
            </div>
            <table th:if="${daftarCustomer.size() != 0 }">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Nomor Telepon</th>
                    <th scope="col">Nomor Fax</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cabang</th>
                    <th scope="col">Area</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer, iterator : ${daftarCustomer}">
                    <th scope="row">
                        <a th:text="${iterator.count}"></a>
                    </th>
                    <td>
                        <a th:href="@{/customer/profil/} + ${customer.id}" th:text="${customer.nama}"></a>
                    </td>
                    <td>
                        <a th:text="${customer.alamat}"></a>
                    </td>
                    <td>
                        <a th:text="${customer.nomorTelepon}"></a>
                    </td>
                    <td>
                        <a th:text="${customer.nomorFax}"></a>
                    </td>
                    <td>
                        <a th:text="${customer.email}"></a>
                    </td>
                    <td>
                        <a th:href="@{/cabang/profil/} + ${customer.cabang.id}"
                           th:text="${customer.cabang.nama}"></a>
                    </td>
                    <td th:if="${customer.area != null}"><a
                            th:href="@{/area/profil/} + ${customer.area.id}"
                            th:text="${customer.area.nama}"></a>
                    </td>
                    <td th:unless="${customer.area != null}"><a>-</a></td>
                </tr>
                </tbody>
            </table>
            <table th:unless="${daftarCustomer.size() != 0}">
                <thead>
                </thead>
                <tbody>
                <h5>Tidak ada customer</h5>
                </tbody>
            </table>
        </div>
        <!--DAFTAR CUSTOMER END-->
    </div>
</div>
</body>
</html>