<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Halaman Utama</title>
</head>

<body class="home">
<div class="text-center fade-in">
    <row class="row" style=" justify-content: center; align-items: center;">
        <img class="logo-home" th:src="@{/img/logo_pillar_white.png}">
    </row>

    <row class="row login-text" style=" justify-content: center; align-items: center;"
         th:text="'SISTEM INFORMASI MAINTENANCE'">
    </row>

    <row class="row" style="justify-content: center; align-items: center;">
        <a th:href="@{/login}">
            <button class="btn btn-lg login-button">Login</button>
        </a>
    </row>

</div>

</body>
</html>