<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title th:text="${messageTitle}"></title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="main-content">
    <div class="container-fluid mt--7">
        <div style="display:flex; min-height: 90vh; justify-content: center; align-items: center">
            <div>
                <h2 th:text="${messageText}"></h2>
                <a th:href="${messageUrl}">
                    <button class="btn btn-default" th:text="${messageUrlText}" type="button"></button>
                </a>
                <a th:href="@{/}">
                    <button class="btn btn-default" type="button">Kembali ke Beranda</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>
