<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Tambah Customer</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li th:if="${cabang != null || area != null}"><a style="color: #0f0f0f; text-decoration: none;"
                                                             th:href="${source}"
                                                             th:text="${source.contains('cabang')} ? 'Cabang ' + ${cabang.nama} : 'Area ' + ${area.nama}"></a>
            </li>
            <li th:unless="${cabang != null || area != null}"><a style="color: #0f0f0f; text-decoration: none;"
                                                                 th:href="${source}"
                                                                 th:text="${'Daftar Customer'}"></a>
            </li>
            <li class="active">Tambah Customer</li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Tambah Customer</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-2"></div>
            <div class="col-6 col-md-8" style="padding-left: 3rem; padding-right: 3rem;">
                <div style="padding-top: 1rem; padding-bottom: 1rem">
                    <label style="color: #DF4147"> *</label> <label> Harus diisi</label>
                </div>
                <form method="post"
                      th:action="@{/customer/tambah?idCabang=} + ${idCabang} + @{&idArea=} + ${idArea} + @{&source=} + ${source}"
                      th:object="${customers}">
                    <input name="idCabang" th:if="${idCabang != ''}" th:value="${idCabang}" type="hidden">
                    <input name="idArea" th:if="${idArea != ''}" th:value="${idArea}" type="hidden">
                    <div class="card bg-light mb-8" th:each="customer, iter : *{customerList}">
                        <div class="row">
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <label>Nama</label>
                            </div>
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <input name="nama" th:field="*{customerList[__${iter.index}__].nama}" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <label>Alamat</label>
                            </div>
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <input name="alamat" th:field="*{customerList[__${iter.index}__].alamat}"
                                       type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <label>Nomor Telepon</label>
                            </div>
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <input name="nomorTelepon"
                                       th:field="*{customerList[__${iter.index}__].nomorTelepon}"
                                       type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <label>Nomor Fax</label>
                            </div>
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <input name="nomorFax" th:field="*{customerList[__${iter.index}__].nomorFax}"
                                       type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <label>E-mail</label>
                            </div>
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <input name="email" th:field="*{customerList[__${iter.index}__].email}" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <label>Cabang</label>
                            </div>
                            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                <select name="cabangId" th:disabled="${idCabang != ''}" th:if="${idCabang != ''}">
                                    <option th:each="cabang : ${listCabang}" th:selected="${cabang.id == idCabang}"
                                            th:text="${cabang.nama}" th:value="${cabang.id}"></option>
                                </select>
                                <select name="cabangId" th:disabled="${idCabang != ''}"
                                        th:field="*{customerList[__${iter.index}__].cabangId}"
                                        th:unless="${idCabang != ''}">
                                    <option th:each="cabang : ${listCabang}" th:selected="${cabang.id == idCabang}"
                                            th:text="${cabang.nama}" th:value="${cabang.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div th:if="${!idCabang.equals('')}">
                                <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                    <label>Area</label>
                                </div>
                                <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                    <select name="areaId" th:disabled="${idArea != ''}" th:if="${idArea != ''}">
                                        <option th:value="${null}">No Area</option>
                                        <option th:each="area : ${listArea}" th:selected="${area.id == idArea}"
                                                th:text="${area.nama}" th:value="${area.id}"></option>
                                    </select>
                                    <select name="areaId" th:disabled="${idArea != ''}"
                                            th:field="*{customerList[__${iter.index}__].areaId}"
                                            th:unless="${idArea != ''}">
                                        <option th:value="${null}">No Area</option>
                                        <option th:each="area : ${listArea}" th:selected="${area.id == idArea}"
                                                th:text="${area.nama}" th:value="${area.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-link" name="removeForm" th:value="${iter.index}" type="submit"><em
                                class="fa fa-trash"></em>&nbsp;Hapus Form Customer
                        </button>
                    </div>
                    <button class="btn btn-link" name="addForm" type="submit"><em class="fa fa-plus-circle"></em>&nbsp;Tambah
                        Form Customer
                    </button>
                    <button class="btn btn-danger" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-2"></div>
        </div>
    </div>
</div>
</body>
</html>