<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Daftar Customer</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Customer</li>
        </ol>
    </div>

    <!--DAFTAR CUSTOMER-->
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Daftar Customer</div>
            <div style="padding: 1rem" th:if="${newCustomer != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Customer baru berhasil ditambahkan !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="${succmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>

            </div>
            <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                <a style="color: white;" th:href="@{/customer/tambah?source=} + ${#httpServletRequest.requestURI}">
                    <button class="btn btn-danger">Tambah Customer</button>
                </a>
            </div>

            <div class="table-responsive">
                <table class="row-border" id="example" th:if="${daftarCustomer.size() != 0 }">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Nomor Telepon</th>
                        <th scope="col">Nomor Fax</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cabang</th>
                        <th scope="col">Area</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer, iterator : ${daftarCustomer}">
                        <th scope="row" th:text="${iterator.count}">
                        </th>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/customer/profil/} + ${customer.id}"
                               th:text="${customer.nama}"></a>
                        </td>
                        <td th:text="${customer.alamat}">
                        </td>
                        <td th:text="${customer.nomorTelepon}">
                        </td>
                        <td th:text="${customer.nomorFax}">
                        </td>
                        <td th:text="${customer.email}">
                        </td>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/cabang/profil/} + ${customer.cabang.id}"
                               th:text="${customer.cabang.nama}"></a>
                        </td>
                        <td th:if="${customer.area != null}"><a style="color: #DF4147;"
                                                                th:href="@{/area/profil/} + ${customer.area.id}"
                                                                th:text="${customer.area.nama}"></a>
                        </td>
                        <td th:unless="${customer.area != null}"><a style="color: #DF4147;">-</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5 style="padding-left: 1rem; padding-bottom: 2rem" th:unless="${daftarCustomer.size() != 0}">Tidak ada
                customer</h5>
        </div>
    </div>
    <!--DAFTAR CUSTOMER END-->
</div>
</body>
</html>