<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Masukkan Customer</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/profil/} + ${customer.cabang.id}"
                   th:text="'Cabang ' + ${customer.cabang.nama}"></a></li>
            <li th:if="${customer.area}"><a style="color: #0f0f0f; text-decoration: none;"
                                            th:href="@{/area/profil/} + ${customer.area.id}"
                                            th:text="'Area ' + ${customer.area.nama}"></a></li>
            <li class="active" th:text="'Pindahkan Customer ' + ${customer.nama}"></li>
        </ol>
    </div>

    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Pindahkan Customer</div>
            <div class="row" style="padding-bottom: 1rem">
                <div style="padding: 1rem" th:if="${errmsg != null}">
                    <div class="alert bg-danger" role="alert">
                        <object th:text="${errmsg}"></object>
                        <a class="pull-right" data-dismiss="alert" href="#">
                            <em class="fa fa-lg fa-close"></em></a></div>
                </div>
                <div style="padding: 1rem">
                    <div class="panel panel-default">
                        <div class="panel-body tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab1">Pindah Area</a></li>
                                <li><a data-toggle="tab" href="#tab2">Pindah Cabang</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                    <div class="col-6 col-md-4"></div>
                                    <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                        <form th:action="@{/customer/pindahkan-customer}" th:method="POST">
                                            <input name="idCustomer" th:value="${customer.id}" type="hidden"/>
                                            <input name="idCabang" type="hidden" value="0"/>
                                            <label>Pilih Area</label>
                                            <select class="form-control" name="idArea">
                                                <option th:value="${null}">No Area</option>
                                                <option th:each="area : ${customer.cabang.daftarArea}"
                                                        th:selected="${customer.area==area}"
                                                        th:text="${area.nama}"
                                                        th:value="${area.id}"></option>
                                            </select>
                                            <br>
                                            <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">
                                                Simpan
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-6 col-md-4"></div>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <div class="col-6 col-md-4"></div>
                                    <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                                        <form th:action="@{/customer/pindahkan-customer}" th:method="POST">
                                            <input name="idCustomer" th:value="${customer.id}" type="hidden"/>
                                            <input name="idArea" type="hidden" value="0"/>
                                            <label>Pilih Cabang</label>
                                            <select class="form-control" name="idCabang">
                                                <option th:each="cabang : ${daftarCabang}"
                                                        th:selected="${customer.cabang==cabang}"
                                                        th:text="${cabang.nama}"
                                                        th:value="${cabang.id}"></option>
                                            </select>
                                            <br>
                                            <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">
                                                Simpan
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-6 col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>