<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Profil</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/profil/} + ${customer.cabang.id}"
                   th:text="'Cabang ' + ${customer.cabang.nama}"></a></li>
            <li th:if="${customer.area}"><a style="color: #0f0f0f; text-decoration: none;"
                                            th:href="@{/area/profil/} + ${customer.area.id}"
                                            th:text="'Area ' + ${customer.area.nama}"></a></li>
            <li class="active" th:text="'Detail Customer ' + ${customer.nama}"></li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Detail Area</div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Customer ' + ${customer.nama} + ' berhasil ' + ${succmsg} + ' !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Nama</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${customer.nama}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Alamat</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${customer.alamat}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Nomor Telepon</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${customer.nomorTelepon}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Nomor Fax</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${customer.nomorFax}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>E-Mail</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${customer.email}"></object>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Cabang</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <a style="color: #D92027" th:href="@{/cabang/profil/} + ${customer.cabang.id}"
                       th:text="${customer.cabang.nama}"></a>
                </div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Area</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <a style="color: #D92027" th:href="@{/area/profil/} + ${customer.area.id}"
                       th:if="${customer.area != null}"
                       th:text="${customer.area.nama}"></a>
                    <object th:unless="${customer.area != null}">-</object>
                </div>
            </div>

            <div class="row" style="padding-top: 1rem; padding-right: 2rem; padding-left: 2rem;">
                <div class="col-6 col-md-6"></div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/customer/pindahkan-customer}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-default btn-block" name="id" th:value="${customer.id}" type="submit">
                            Pindahkan Customer
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/customer/ubah}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-info btn-block" name="id" th:value="${customer.id}" type="submit">
                            Ubah
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <!-- Button trigger modal -->
                    <button class="btn btn-danger btn-block" data-target="#exampleModal" data-toggle="modal"
                            th:if="${role.equals('Admin')}" type="button">
                        Hapus
                    </button>
                </div>
            </div>
            <div style="padding: 1rem">
                <div class="panel panel-default">
                    <div class="panel-body tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">Purchase Order</a></li>
                            <li><a data-toggle="tab" href="#tab2">Kontrak Servis</a></li>
                            <li><a data-toggle="tab" href="#tab3">Invoice</a></li>
                            <li><a data-toggle="tab" href="#tab4">Riwayat</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <!--DAFTAR PO-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Purchase Order</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example1"
                                                   th:if="${customer.daftarPo.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nomor PO</th>
                                                    <th scope="col">Alamat Pemasangan</th>
                                                    <th scope="col">Jenis Pekerjaan</th>
                                                    <th scope="col">Status PO</th>
                                                    <th scope="col">Status Sparepart</th>
                                                    <th scope="col">Keterangan</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="po, iterator : ${customer.daftarPo}">
                                                    <th scope="row" th:text="${iterator.count}"></th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/purchase-order/profil/} + ${po.id}"
                                                           th:text="${po.nomor}"></a>
                                                    </td>
                                                    <td th:text="${po.alamatPemasangan}">
                                                    </td>
                                                    <td th:text="${po.jenisPekerjaan}">
                                                    </td>
                                                    <td th:text="${po.statusPo.status}">
                                                    </td>
                                                    <td th:text="${po.statusSparepart.status}">
                                                    </td>
                                                    <td th:text="${po.keterangan}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${customer.daftarPo.size() != 0}">Tidak
                                            ada PO</h5>
                                    </div>
                                </div>
                                <!--DAFTAR PO END-->
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <!--DAFTAR KONTRAK SERVIS-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Kontrak Servis</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example5"
                                                   th:if="${customer.daftarKontrakServis.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nomor Kontrak</th>
                                                    <th scope="col">Alamat Kontrak</th>
                                                    <th scope="col">Periode Awal</th>
                                                    <th scope="col">Periode Akhir</th>
                                                    <th scope="col">PJ Kontrak</th>
                                                    <th scope="col">Pembuat Kontrak</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="ks, iterator : ${customer.daftarKontrakServis}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/kontrak-servis/profil/} + ${ks.id}"
                                                           th:text="${ks.nomorKontrak}"></a>
                                                    </td>
                                                    <td th:text="${ks.alamatServis}">
                                                    </td>
                                                    <td th:text="${ks.periodeAwal}">
                                                    </td>
                                                    <td th:text="${ks.periodeAkhir}">
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${ks.penanggungJawab.username}"
                                                           th:text="${ks.penanggungJawab.nama}"></a>
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${ks.pembuatKontrak.username}"
                                                           th:text="${ks.pembuatKontrak.nama}"></a>
                                                    </td>
                                                    <td th:text="${ks.status.status}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${customer.daftarKontrakServis.size() != 0}">Tidak ada Kontrak
                                            Servis</h5>
                                    </div>
                                </div>
                                <!--DAFTAR KONTRAK SERVIS END-->
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <!--DAFTAR INVOICE-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Invoice</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example3"
                                                   th:if="${daftarInvoice.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Jenis</th>
                                                    <th scope="col">Berita Acara</th>
                                                    <th scope="col">Penerima</th>
                                                    <th scope="col">Nomor</th>
                                                    <th scope="col">Tanggal Terbit</th>
                                                    <th scope="col">Tanggal Kirim</th>
                                                    <th scope="col">Tanggal Kembali</th>
                                                    <th scope="col">Tanggal Jatuh Tempo</th>
                                                    <th scope="col">Jumlah Tagihan</th>
                                                    <th scope="col">Jumlah Pembayaran</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="invoice, iter: ${daftarInvoice}">
                                                    <th scope="row" th:text="${iter.count}"></th>
                                                    <td th:text="${invoice.jenis}"></td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/berita-acara-po/profil/} + ${invoice.beritaAcaraPo.id}"
                                                           th:if="${invoice.beritaAcaraPo != null}"
                                                           th:text="${invoice.beritaAcaraPo.nomorBa}"></a>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/berita-acara-servis/profil/} + ${invoice.beritaAcaraServis.id}"
                                                           th:text="${invoice.beritaAcaraServis.nomorSpk}"
                                                           th:unless="${invoice.beritaAcaraPo != null}"></a>
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${invoice.penerimaBa.username}"
                                                           th:text="${invoice.penerimaBa.nama}"></a>
                                                    </td>
                                                    <td th:text="${invoice.nomor}"></td>
                                                    <td th:text="${invoice.tanggalTerbit}"></td>
                                                    <td th:text="${invoice.tanggalKirim}"></td>
                                                    <td th:text="${invoice.tanggalKembali}"></td>
                                                    <td th:text="${invoice.tanggalJatuhTempo}"></td>
                                                    <td th:text="${invoice.jumlahTagihan}"></td>
                                                    <td th:text="${invoice.jumlahPembayaran}"></td>
                                                    <td th:text="${invoice.status.status}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${daftarInvoice.size() != 0}">Tidak ada
                                            Invoice</h5>
                                    </div>
                                </div>
                                <!--DAFTAR INVOICE END-->
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <!--DAFTAR LOG-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Riwayat</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example" th:if="${logs.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Judul</th>
                                                    <th scope="col">Deskripsi</th>
                                                    <th scope="col">Tanggal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="log, iterator : ${logs}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td th:text="${log.judul}">
                                                    </td>
                                                    <td th:text="${log.deskripsi}">
                                                    </td>
                                                    <td th:text="${log.tanggal}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${logs.size() != 0}">Tidak ada
                                            riwayat</h5>
                                    </div>
                                </div>
                                <!--DAFTAR LOG END-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Konfirmasi Penghapusan Customer</h4>
            </div>
            <div class="modal-body">
                <p th:text="'Apakah Anda ingin menghapus Customer ' + ${customer.nama}"></p>
            </div>
            <div class="modal-footer">
                <div class="col-md-8"></div>
                <div class="col col-md-2" style="padding-bottom: 1rem">
                    <button class="btn btn-block btn-default" data-dismiss="modal" type="button">Tidak
                    </button>
                </div>
                <div class="col-md-2" style="padding-bottom: 1rem">
                    <form method="post" th:action="@{/customer/hapus}">
                        <button class="btn btn-block btn-danger" name="id" th:value="${customer.id}" type="submit">
                            Hapus
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>