<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Tambah Cabang</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/}">Daftar Cabang</a></li>
            <li class="active">Tambah Cabang</li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Tambah Cabang</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">
                <div style="padding-top: 1rem; padding-bottom: 1rem">
                    <label style="color: #DF4147"> *</label> <label> Harus diisi</label>
                </div>

                <form method="post" th:action="@{/cabang/tambah}">
                    <label>Nama Cabang</label> <label style="color: #DF4147"> *</label>
                    <input class="form-control" name="nama" placeholder="Masukkan Nama Cabang..." type="text">
                    <br>

                    <div class="form-group">
                        <label>Alamat</label> <label style="color: #DF4147"> *</label>
                        <textarea class="form-control" name="alamat" placeholder="Masukkan Alamat..."
                                  rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Koordinator Maintenance</label>
                        <select class="form-control" name="koordinator">
                            <option selected th:value="''">Tanpa Koordinator</option>
                            <option th:each="karyawan : ${daftarKaryawan}"
                                    th:text="${karyawan.nama} + ' - ' + ${karyawan.role.nama}"
                                    th:value="${karyawan.uuid}"></option>
                        </select>
                    </div>

                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>