<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Daftar Cabang</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Cabang</li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Daftar Cabang</div>
            <div style="padding: 1rem" th:if="${newCabang != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Cabang ' + ${newCabang} + ' berhasil ditambahkan !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="${succmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>

            </div>
            <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                <a style="color: white;" th:href="@{/cabang/tambah/}">
                    <button class="btn btn-danger">Tambah Cabang</button>
                </a>
            </div>

            <div class="table-responsive">
                <table class="row-border" id="example" th:if="${daftarCabang.size() != 0 }">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Koordinator</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cabang, iterator : ${daftarCabang}">
                        <th scope="row" th:text="${iterator.count}">
                        </th>
                        <td>
                            <a style="color: #DF4147;" th:href="@{/cabang/profil/} + ${cabang.id}"
                               th:text="${cabang.nama}"></a>
                        </td>
                        <td th:text="${cabang.alamat}">
                        </td>
                        <td th:if="${cabang.koordinator != null}">
                            <a style="color: #DF4147;"
                               th:href="@{/karyawan/profil/} + ${cabang.koordinator.username}"
                               th:text="${cabang.koordinator.nama}"></a>
                        </td>
                        <td th:unless="${cabang.koordinator != null}">
                            <a style="color: #DF4147;">-</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h5 style="padding-left: 1rem; padding-bottom: 2rem" th:unless="${daftarCabang.size() != 0}">Tidak ada
                cabang</h5>
        </div>
    </div>
</div>
</body>
</html>