<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Pilih Koordinator Cabang</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/}">Daftar Cabang</a></li>
            <li class="active">Ubah Cabang</li>
        </ol>
    </div>

    <div class="panel panel-danger card">
        <div class="panel-heading">Udah Cabang</div>
        <div class="row" style="padding-bottom: 1rem">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4" style="padding-left: 3rem; padding-right: 3rem;">

                <form th:action="@{/cabang/pilih-koordinator}" th:method="POST" th:object="${cabang}">
                    <input th:field="${cabang.id}" type="hidden"/>
                    <label>Tunjuk Koordinator</label>
                    <select class="form-control" name="koordinator">
                        <option th:each="karyawan : ${daftarKaryawan}"
                                th:selected="${(cabang.koordinator != null) ? karyawan.uuid.equals(cabang.koordinator.uuid) : false}"
                                th:text="${karyawan.nama} + ' - ' + ${karyawan.role.nama}"
                                th:value="${karyawan.uuid}"></option>
                    </select>
                    <br>
                    <button class="btn btn-danger" style="padding-bottom: 1rem" type="submit">Simpan</button>
                </form>
            </div>
            <div class="col-6 col-md-4"></div>
        </div>
    </div>
</div>
</body>
</html>