<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Profil</title>
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/cabang/}">Daftar Cabang</a></li>
            <li class="active" th:text="'Detail Cabang ' + ${cabang.nama}"></li>
        </ol>
    </div>
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">Detail Cabang</div>
            <div style="padding: 1rem" th:if="${succmsg != null}">
                <div class="alert bg-teal" role="alert">
                    <object th:text="'Cabang ' + ${cabang.nama} + ' berhasil ' + ${succmsg} + ' !'"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a></div>
            </div>
            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Nama Cabang</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${cabang.nama}"></object>
                </div>
            </div>

            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Alamat</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <object th:text="${cabang.alamat}"></object>
                </div>
            </div>

            <div class="row" style="padding: 1rem">
                <div class="col-6 col-md-2">
                    <b>Koor. Maintenance</b>
                </div>
                <div class="col-6 col-md-4">
                    <b>: </b>
                    <a style="color: #D92027"
                       th:href="@{/karyawan/profil/} + ${cabang.koordinator.username}"
                       th:if="${cabang.koordinator != null}"
                       th:text="${cabang.koordinator.nama}"></a>
                    <object th:unless="${cabang.koordinator != null}">-</object>
                </div>
            </div>

            <div class="row" style="padding-top: 1rem; padding-right: 2rem; padding-left: 2rem;">
                <div class="col-6 col-md-6"></div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/cabang/pilih-koordinator}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-warning btn-block" name="id" th:value="${cabang.id}" type="submit">
                            Pilih Koordinator
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <form th:action="@{/cabang/ubah}" th:if="${role.equals('Admin')}">
                        <button class="btn btn-info btn-block" name="id" th:value="${cabang.id}" type="submit">
                            Ubah
                        </button>
                    </form>
                </div>
                <div class="col-6 col-md-2" style="padding-top: 1rem; padding-bottom: 1rem">
                    <!-- Button trigger modal -->
                    <button class="btn btn-danger btn-block" data-target="#exampleModal" data-toggle="modal"
                            th:if="${role.equals('Admin')}" type="button">
                        Hapus
                    </button>
                </div>
            </div>
            <div style="padding: 1rem">
                <div class="panel panel-default">
                    <div class="panel-body tabs">
                        <ul class="nav nav-tabs">
                            <li th:class="${newArea != null || !(newKaryawan != null || newCustomer != null)} ? 'active' : ''">
                                <a data-toggle="tab" href="#tab1">Area</a></li>
                            <li th:class="${newKaryawan} ? 'active' : ''"><a data-toggle="tab" href="#tab2">Karyawan</a>
                            </li>
                            <li th:class="${newCustomer} ? 'active' : ''"><a data-toggle="tab" href="#tab3">Customer</a>
                            </li>
                            <li><a data-toggle="tab" href="#tab4">Purchase Order</a></li>
                            <li><a data-toggle="tab" href="#tab5">Kontrak Servis</a></li>
                            <li><a data-toggle="tab" href="#tab6">Riwayat</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1"
                                 th:class="${newArea != null || !(newKaryawan != null || newCustomer != null)} ? 'tab-pane fade in active' : 'tab-pane fade'">
                                <!--DAFTAR AREA-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Area</div>
                                        <div style="padding: 1rem" th:if="${newArea != null}">
                                            <div class="alert bg-teal" role="alert">
                                                <object th:text="'Area ' + ${newArea} + ' berhasil ditambahkan !'"></object>
                                                <a class="pull-right" data-dismiss="alert" href="#">
                                                    <em class="fa fa-lg fa-close"></em></a></div>
                                        </div>
                                        <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                                            <a style="color: white;"
                                               th:href="@{/area/tambah?idCabang=} + ${cabang.id} + @{&source=} + ${#httpServletRequest.requestURI}">
                                                <button class="btn btn-danger">Tambah Area</button>
                                            </a>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example1"
                                                   th:if="${cabang.daftarArea.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nama</th>
                                                    <th scope="col">Alamat</th>
                                                    <th scope="col">Kepala Area</th>
                                                    <th scope="col">Cabang</th>
                                                </tr>
                                                </thead>
                                                <tbody id="table-row">
                                                <tr th:each="area, iterator : ${cabang.daftarArea}">
                                                    <th scope="row" th:text="${iterator.count}"></th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/area/profil/} + ${area.id}"
                                                           th:text="${area.nama}"></a>
                                                    </td>
                                                    <td th:text="${area.alamat}">
                                                    </td>
                                                    <td th:if="${area.kepalaArea != null}">
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${area.kepalaArea.username}"
                                                           th:text="${area.kepalaArea.nama}"></a>
                                                    </td>
                                                    <td th:unless="${area.kepalaArea != null}">
                                                        <a style="color: #DF4147;">-</a>
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/cabang/profil/} + ${area.cabang.id}"
                                                           th:text="${area.cabang.nama}"></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${cabang.daftarArea.size() != 0}">Tidak ada
                                            area</h5>
                                    </div>
                                </div>
                                <!--DAFTAR AREA END-->
                            </div>
                            <div id="tab2" th:class="${newKaryawan} ? 'tab-pane fade in active' : 'tab-pane fade'">
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Karyawan</div>
                                        <div style="padding: 1rem" th:if="${newKaryawan != null}">
                                            <div class="alert bg-teal" role="alert">
                                                <object th:text="'Karyawan ' + ${newKaryawan} + ' berhasil ditambahkan !'"></object>
                                                <a class="pull-right" data-dismiss="alert" href="#">
                                                    <em class="fa fa-lg fa-close"></em></a></div>
                                        </div>
                                        <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                                            <a style="color: white;"
                                               th:href="@{/karyawan/tambah?idCabang=} + ${cabang.id} + @{&source=} + ${#httpServletRequest.requestURI}">
                                                <button class="btn btn-danger">Tambah Karyawan</button>
                                            </a>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example2"
                                                   th:if="${cabang.daftarKaryawan.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nama</th>
                                                    <th scope="col">Alamat</th>
                                                    <th scope="col">Nomor Telepon</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Jabatan</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="karyawan, iterator : ${cabang.daftarKaryawan}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${karyawan.username}"
                                                           th:text="${karyawan.nama}"></a>
                                                    </td>
                                                    <td th:text="${karyawan.alamat}">
                                                    </td>
                                                    <td th:text="${karyawan.nomorTelepon}">
                                                    </td>
                                                    <td th:text="${karyawan.email}">
                                                    </td>
                                                    <td th:text="${karyawan.role.nama}">
                                                    </td>
                                                    <td th:text="${karyawan.status.status}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${cabang.daftarKaryawan.size() != 0}">Tidak ada
                                            karyawan</h5>
                                    </div>
                                </div>
                                <!--DAFTAR KARYAWAN END-->
                            </div>
                            <div id="tab3" th:class="${newCustomer} ? 'tab-pane fade in active' : 'tab-pane fade'">
                                <!--DAFTAR CUSTOMER-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Customer</div>
                                        <div style="padding: 1rem" th:if="${newCustomer != null}">
                                            <div class="alert bg-teal" role="alert">
                                                <object th:text="'Customer baru berhasil ditambahkan !'"></object>
                                                <a class="pull-right" data-dismiss="alert" href="#">
                                                    <em class="fa fa-lg fa-close"></em></a></div>
                                        </div>
                                        <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                                            <a style="color: white;"
                                               th:href="@{/customer/tambah?idCabang=} + ${cabang.id} + @{&source=} + ${#httpServletRequest.requestURI}">
                                                <button class="btn btn-danger">Tambah Customer</button>
                                            </a>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example3"
                                                   th:if="${cabang.daftarCustomer.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nama</th>
                                                    <th scope="col">Alamat</th>
                                                    <th scope="col">Nomor Telepon</th>
                                                    <th scope="col">Nomor Fax</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Area</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="customer, iterator : ${cabang.daftarCustomer}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/customer/profil/} + ${customer.id}"
                                                           th:text="${customer.nama}"></a>
                                                    </td>
                                                    <td th:text="${customer.alamat}">
                                                    </td>
                                                    <td th:text="${customer.nomorTelepon}">
                                                    </td>
                                                    <td th:text="${customer.nomorFax}">
                                                    </td>
                                                    <td th:text="${customer.email}">
                                                    </td>
                                                    <td th:if="${customer.area != null}"><a style="color: #DF4147;"
                                                                                            th:href="@{/area/profil/} + ${customer.area.id}"
                                                                                            th:text="${customer.area.nama}"></a>
                                                    </td>
                                                    <td th:unless="${customer.area != null}"><a
                                                            style="color: #DF4147;">-</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${cabang.daftarCustomer.size() != 0}">Tidak ada
                                            customer</h5>
                                    </div>
                                </div>
                                <!--DAFTAR CUSTOMER END-->
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <!--DAFTAR PO-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Purchase Order</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example4" th:if="${daftarPo.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nomor PO</th>
                                                    <th scope="col">Customer</th>
                                                    <th scope="col">Alamat Pemasangan</th>
                                                    <th scope="col">Jenis Pekerjaan</th>
                                                    <th scope="col">Status PO</th>
                                                    <th scope="col">Status Sparepart</th>
                                                    <th scope="col">Keterangan</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="po, iterator : ${daftarPo}">
                                                    <th scope="row" th:text="${iterator.count}"></th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/purchase-order/profil/} + ${po.id}"
                                                           th:text="${po.nomor}"></a>
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/customer/profil/} + ${po.customer.id}"
                                                           th:text="${po.customer.nama}"></a>
                                                    </td>
                                                    <td th:text="${po.alamatPemasangan}">
                                                    </td>
                                                    <td th:text="${po.jenisPekerjaan}">
                                                    </td>
                                                    <td th:text="${po.statusPo.status}">
                                                    </td>
                                                    <td th:text="${po.statusSparepart.status}">
                                                    </td>
                                                    <td th:text="${po.keterangan}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${daftarPo.size() != 0}">Tidak
                                            ada PO</h5>
                                    </div>
                                </div>
                                <!--DAFTAR PO END-->
                            </div>
                            <div class="tab-pane fade" id="tab5">
                                <!--DAFTAR KONTRAK SERVIS-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Kontrak Servis</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example5"
                                                   th:if="${daftarKontrakServis.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nomor Kontrak</th>
                                                    <th scope="col">Customer</th>
                                                    <th scope="col">Alamat Kontrak</th>
                                                    <th scope="col">Periode Awal</th>
                                                    <th scope="col">Periode Akhir</th>
                                                    <th scope="col">PJ Kontrak</th>
                                                    <th scope="col">Pembuat Kontrak</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="ks, iterator : ${daftarKontrakServis}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/kontrak-servis/profil/} + ${ks.id}"
                                                           th:text="${ks.nomorKontrak}"></a>
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/customer/profil/} + ${ks.customer.id}"
                                                           th:text="${ks.customer.nama}"></a>
                                                    </td>
                                                    <td th:text="${ks.alamatServis}">
                                                    </td>
                                                    <td th:text="${ks.periodeAwal}">
                                                    </td>
                                                    <td th:text="${ks.periodeAkhir}">
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${ks.penanggungJawab.username}"
                                                           th:text="${ks.penanggungJawab.nama}"></a>
                                                    </td>
                                                    <td>
                                                        <a style="color: #DF4147;"
                                                           th:href="@{/karyawan/profil/} + ${ks.pembuatKontrak.username}"
                                                           th:text="${ks.pembuatKontrak.nama}"></a>
                                                    </td>
                                                    <td th:text="${ks.status.status}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${daftarKontrakServis.size() != 0}">Tidak ada Kontrak Servis</h5>
                                    </div>
                                </div>
                                <!--DAFTAR KONTRAK SERVIS END-->
                            </div>
                            <div class="tab-pane fade" id="tab6">
                                <!--DAFTAR LOG-->
                                <div class="row">
                                    <div class="panel panel-danger card">
                                        <div class="panel-heading">Daftar Riwayat</div>

                                        <div class="table-responsive">
                                            <table class="row-border" id="example" th:if="${logs.size() != 0 }">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Judul</th>
                                                    <th scope="col">Deskripsi</th>
                                                    <th scope="col">Tanggal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="log, iterator : ${logs}">
                                                    <th scope="row" th:text="${iterator.count}">
                                                    </th>
                                                    <td th:text="${log.judul}">
                                                    </td>
                                                    <td th:text="${log.deskripsi}">
                                                    </td>
                                                    <td th:text="${log.tanggal}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h5 style="padding-left: 1rem; padding-bottom: 2rem"
                                            th:unless="${logs.size() != 0}">Tidak ada
                                            riwayat</h5>
                                    </div>
                                </div>
                                <!--DAFTAR LOG END-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title">Konfirmasi Penghapusan Cabang</h4>
            </div>
            <div class="modal-body">
                <p th:text="'Apakah Anda ingin menghapus Cabang ' + ${cabang.nama}"></p>
            </div>
            <div class="modal-footer">
                <div class="col-md-8"></div>
                <div class="col col-md-2" style="padding-bottom: 1rem">
                    <button class="btn btn-block btn-default" data-dismiss="modal" type="button">Tidak
                    </button>
                </div>
                <div class="col-md-2" style="padding-bottom: 1rem">
                    <form method="post" th:action="@{/cabang/hapus}"
                          th:if="${role.equals('Admin')}">
                        <button class="btn btn-block btn-danger" name="id" th:value="${cabang.id}"
                                type="submit">
                            Ya
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>