<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Tambah Kontrak Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/kontrak-servis/}">Daftar Kontrak
                Servis</a></li>
            <li class="active">Tambah Kontrak Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div style="padding: 1rem" th:if="${errmsg != null}">
                <div class="alert bg-danger" role="alert">
                    <object th:text="${errmsg}"></object>
                    <a class="pull-right" data-dismiss="alert" href="#">
                        <em class="fa fa-lg fa-close"></em></a>
                </div>
            </div>
            <div class="panel-heading">
                Form tambah kontrak
            </div>
            <div class="panel-body">
                <form method="post" th:action="@{/kontrak-servis/tambah}" th:object="${kontrakServis}">
                    <div class="form-group">
                        <label>Nomor Kontrak</label>
                        <input class="form-control" name="nomorKontrak" th:field="*{nomorKontrak}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control" name="customerId" th:field="*{customerId}">
                            <option th:each="customer : ${daftarCustomer}" th:selected="${customer.id == idCustomer}"
                                    th:text="${customer.nama}"
                                    th:value="${customer.id}"></option>
                        </select>
                        <a class="fa fa-plus-square color-red" th:href="@{/customer/tambah}">
                        </a>
                    </div>
                    <div class="form-group">
                        <label>Daftar Unit</label>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Merk</th>
                                <th>
                                    <button class="btn btn-danger" name="addUnit" type="submit">Tambah Unit</button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="unit, iter : *{daftarUnitServis}">
                                <td>
                                    <input class="form-control"
                                           name="quantity"
                                           th:field="*{daftarUnitServis[__${iter.index}__].quantity}" type="number">
                                </td>
                                <td>
                                    <input class="form-control" name="unit"
                                           th:field="*{daftarUnitServis[__${iter.index}__].unit}" type="text">
                                </td>
                                <td>
                                    <input class="form-control" name="merk"
                                           th:field="*{daftarUnitServis[__${iter.index}__].merk}" type="text">
                                </td>
                                <td>
                                    <button class="btn btn-danger" name="removeUnit" th:value="${iter.index}"
                                            type="submit">
                                        Hapus Unit
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>Periode Awal</label>
                        <input class="form-control" name="periodeAwal" th:field="*{periodeAwal}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Periode Akhir</label>
                        <input class="form-control" name="periodeAkhir" th:field="*{periodeAkhir}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Frekuensi Per Bulan</label>
                        <input class="form-control" name="frekuensiPerBulan" th:field="*{frekuensiPerBulan}"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label>Penanggungjawab</label>
                        <select class="form-control" name="penanggungJawabId" th:field="*{penanggungJawabId}">
                            <option th:each="karyawan : ${daftarKaryawan}" th:selected="${karyawan.uuid == idKaryawan}"
                                    th:text="${karyawan.nama}"
                                    th:value="${karyawan.uuid}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Alamat Servis</label>
                        <textarea class="form-control" cols="20" id="" name="alamatServis" rows="10"
                                  th:field="*{alamatServis}"></textarea>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>