<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Ubah Jadwal Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/kontrak-servis/}">Daftar Kontrak Servis</a></li>
            <li><a class="colorless-link" th:href="@{/kontrak-servis/profil/} + ${jadwalServis.kontrakServis.id}">Detail
                Kontrak Servis</a></li>
            <li class="active">Ubah Jadwal Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah jadwal servis
            </div>
            <div class="panel-body">
                <form th:action="@{/kontrak-servis/update-jadwal}" th:method="PUT" th:object="${jadwalServis}">
                    <input name="id" th:field="${jadwalServis.id}" type="hidden"/>
                    <input name="kontrakServisId" th:value="${jadwalServis.kontrakServis.id}" type="hidden"></input>
                    <div class="form-group">
                        <label>Nomor Kontrak</label>
                        <input class="form-control" th:value="${jadwalServis.kontrakServis.nomorKontrak}" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Servis</label>
                        <input class="form-control" name="tanggalServis"
                               th:value="${jadwalServis.tanggalDeadlineServis}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Pelaksanaan</label>
                        <input class="form-control" name="tanggalPelaksanaan"
                               th:value="${jadwalServis.tanggalPelaksanaan}" type="date">
                    </div>
                    <div class="form-group">
                        <label>TanggalTerimaFormFisik</label>
                        <input class="form-control" name="tanggalTerimaFormFisik"
                               th:value="${jadwalServis.tanggalTerimaFormFisik}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Status Jadwal Servis</label>
                        <select class="form-control" name="statusJadwalServisId">
                            <option th:each="statusJadwalServis : ${daftarStatusJadwalServis}"
                                    th:selected="${jadwalServis.status.id == statusJadwalServis.id}"
                                    th:text="${statusJadwalServis.status}"
                                    th:value="${statusJadwalServis.id}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>