<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/head :: head"></object>
    <title>Kontrak Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Kontrak Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger card">
            <div class="panel-heading">
                Daftar Kontrak Servis
            </div>
            <div class="panel-body">
                <div class="main-content">
                    <a class="btn color-red2" th:href="@{/kontrak-servis/tambah}">Tambah</a>
                    <div th:if="${daftarKontrakServis != null}">
                        <table class="row-border" id="example" th:if="${daftarKontrakServis.size() != 0 }">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Nomor Kontrak</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Periode Awal</th>
                                <th scope="col">Periode Akhir</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="kontrakServis: ${daftarKontrakServis}">
                                <td>
                                    <a th:href="@{/kontrak-servis/profil/} + ${kontrakServis.id}"
                                       th:text="${kontrakServis.nomorKontrak}"></a>
                                </td>
                                <td th:text="${kontrakServis.customer.nama}"></td>
                                <td th:text="${kontrakServis.periodeAwal}"></td>
                                <td th:text="${kontrakServis.periodeAkhir}"></td>
                                <td th:text="${kontrakServis.status.status}"></td>
                                <td>
                                    <form method="post" th:action="@{/kontrak-servis/hapus}">
                                        <button class="btn btn-danger btn-sm" name="id"
                                                th:value="${kontrakServis.id}"
                                                type="submit">Hapus
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${daftarKontrakServis.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Tidak ada Kontrak Servis</h5>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>