<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Error Kontrak Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/kontrak-servis/}">Daftar Kontrak Servis</a></li>
            <li class="active">Error</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel panel-danger">
                    <div class="panel-heading"></div>
                    <div th:if="${errorMessage}">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <br>
                    <a class="btn btn-primary btn-sm" th:href="@{/kontrak-servis}">
                        List Kontrak Servis
                    </a><br>
                    <a class="btn btn-primary btn-sm" th:href="@{/kontrak-servis/tambah}">
                        Tambah Kontrak Servis
                    </a><br>
                    <a class="btn btn-primary btn-sm" th:href="@{/}">
                        Kembali ke Beranda
                    </a><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>