<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Profil Kontrak Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a style="color: #0f0f0f; text-decoration: none;" th:href="@{/kontrak-servis/}">Daftar Kontrak
                Servis</a></li>
            <li class="active">Detail Kontrak Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="panel panel-danger">
        <div class="panel-heading">Detail Kontrak Servis</div>
        <div style="padding-left: 3rem; padding-right: 3rem">
            <div class="panel-body">
                <div class="main-content">
                    <div th:if="${kontrakServis != null}">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><b>Nomor Kontrak</b></td>
                                <td><a th:text="${kontrakServis.nomorKontrak}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Customer</b></td>
                                <td><a th:text="${kontrakServis.customer.nama}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Periode Awal</b></td>
                                <td><a th:text="${kontrakServis.periodeAwal}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Periode Akhir</b></td>
                                <td><a th:text="${kontrakServis.periodeAkhir}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Frekuensi Per Bulan</b></td>
                                <td><a th:text="${kontrakServis.frekuensiPerBulan}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Penanggung Jawab</b></td>
                                <td><a th:text="${kontrakServis.penanggungJawab}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Status Kontrak Servis</b></td>
                                <td><a th:text="${kontrakServis.status.status}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Pembuat Kontrak</b></td>
                                <td><a th:text="${kontrakServis.pembuatKontrak.nama}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Alamat Servis</b></td>
                                <td><a th:text="${kontrakServis.alamatServis}"></a></td>
                            </tr>
                            </thead>
                        </table>
                        <br>
                        <form method="get" th:action="@{/kontrak-servis/tambah}"
                              th:if="@{role == 'Admin || role == 'Marketing'}">
                            <button class="btn btn-sm btn-primary" name="id" th:value="${kontrakServis.id}"
                                    type="submit">Tambah
                            </button>
                        </form>
                        <br>
                        <form th:action="@{/kontrak-servis/ubah}"
                              th:if="${role == 'Admin' || role == 'Marketing'}">
                            <button class="btn btn-sm btn-primary" name="id"
                                    th:value="${kontrakServis.id}" type="submit">Ubah
                            </button>
                        </form>
                        <br>
                        <form method="post" th:action="@{/kontrak-servis/hapus}"
                              th:if="@{role == 'Admin || role == 'Marketing'}">
                            <button class="btn btn-sm btn-primary" name="id" th:value="${kontrakServis.id}"
                                    type="submit">Hapus
                            </button>
                        </form>
                        <h4>Daftar BA Servis</h4>
                        <table class="table table-bordered" th:if="${daftarBeritaAcaraServis.size() != 0}">
                            <thead>
                            <tr>
                                <th>Nomor Kontrak Servis</th>
                                <th>Nomor SPK</th>
                                <th>Periode Spk</th>
                                <th>Status</th>
                                <th>Invoice</th>
                                <th>Tanggal Terbit</th>
                                <th>Tanggal Kirim</th>
                                <th>Tanggal Kembali</th>
                                <th>Periode Berita Acara</th>
                                <th>Is Approved</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="beritaAcaraServis: ${daftarBeritaAcaraServis}">
                                <td>
                                    <a th:href="@{/kontrak-servis/profil/} + ${beritaAcaraServis.kontrakServis.id}"
                                       th:text="${beritaAcaraServis.kontrakServis.nomorKontrak}"></a>
                                </td>
                                <td>
                                    <a th:href="@{/berita-acara-servis/profil/} + ${beritaAcaraServis.id}"
                                       th:text="${beritaAcaraServis.nomorSpk}"></a>
                                </td>
                                <td th:text="${beritaAcaraServis.periodeSpk}"></td>
                                <td th:text="${beritaAcaraServis.status.status}"></td>
                                <td>
                                    <div th:if="${beritaAcaraServis.invoice != null}">
                                        <a th:href="@{/invoice/profil/} + ${beritaAcaraServis.invoice.id}"
                                           th:text="${beritaAcaraServis.invoice.nomor}"></a>
                                    </div>
                                    <div th:unless="${beritaAcaraServis.invoice != null}">
                                        NULL
                                    </div>
                                </td>
                                <td th:text="${beritaAcaraServis.tanggalTerbit}"></td>
                                <td th:text="${beritaAcaraServis.tanggalKirim}"></td>
                                <td th:text="${beritaAcaraServis.tanggalKembali}"></td>
                                <td th:text="${beritaAcaraServis.periodeBeritaAcara}"></td>
                                <td th:text="${beritaAcaraServis.approve} ? 'Approved' : 'Not Approved'"></td>
                                <td>
                                    <form method="post" th:action="@{/berita-acara-servis/hapus}">
                                        <button class="btn btn-sm btn-danger" name="id"
                                                th:value="${beritaAcaraServis.id}"
                                                type="submit">Hapus
                                        </button>
                                    </form>
                                    <form method="GET" th:action="@{/berita-acara-servis/isi}">
                                        <button class="btn btn-sm btn-default" name="id"
                                                th:value="${beritaAcaraServis.id}"
                                                type="submit">Isi
                                        </button>
                                    </form>
                                    <form action="GET" th:action="@{/berita-acara-servis/invoice/tambah}"
                                          th:if="${beritaAcaraServis.status.id == 1}">
                                        <button class="btn btn-sm btn-default" name="id"
                                                th:value="${beritaAcaraServis.id}"
                                                type="submit">Isi Invoice
                                        </button>
                                    </form>
                                    <form method="GET" th:action="@{/berita-acara-servis/ubah}">
                                        <button class="btn btn-sm btn-default" name="id"
                                                th:value="${beritaAcaraServis.id}"
                                                type="submit">Ubah
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${daftarBeritaAcaraServis.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Tidak ada BA Servis</h5>
                            </tbody>
                        </table>
                        <br>

                        <h4>
                            Daftar Unit Kontrak Servis
                        </h4>
                        <table class="table table-bordered" th:if="${kontrakServis.daftarUnit.size() != 0}">
                            <thead>
                            <tr>
                                <th scope="col">Quantity</th>
                                <th scope="col">Nomor Kontrak Servis</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Merk</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="unitKontrakServis: ${kontrakServis.daftarUnit}">

                                <td th:text="${unitKontrakServis.quantity}"></td>
                                <td>
                                    <a th:href="@{/kontrak-servis/profil/} + ${kontrakServis.id}"
                                       th:text="${unitKontrakServis.kontrakServis.nomorKontrak}"></a>
                                </td>
                                <td th:text="${unitKontrakServis.unitKontrakServis.unit}"></td>
                                <td th:text="${unitKontrakServis.merkKontrakServis.merk}"></td>
                                <td>
                                    <form action="get" th:action="@{/kontrak-servis/update-jadwal}">
                                        <button class="btn btn-default btn-sm" name="id"
                                                th:value="${unitKontrakServis.id}">
                                            Ubah
                                        </button>
                                    </form>

                                    <br>
                                    <form method="post" th:action="@{/kontrak-servis/}">
                                        <button class="btn btn-danger btn-sm" name="id"
                                                type="submit">Hapus
                                        </button>
                                    </form>
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${kontrakServis.daftarUnit.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Tidak ada Daftar Unit</h5>
                            </tbody>
                        </table>

                        <h4>Daftar Jadwal Servis</h4>
                        <table class="table table-bordered" th:if="${daftarJadwalServis.size() != 0}">
                            <thead>
                            <tr>
                                <th scope="col">Nomor Kontrak Servis</th>
                                <th scope="col">Tanggal Servis</th>
                                <th scope="col">Tanggal Pelaksanaan</th>
                                <th scope="col">Tanggal Terima Form FIsik</th>
                                <th scope="col">Status Jadwal Servis</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="jadwalServis: ${daftarJadwalServis}">
                                <td>
                                    <a th:href="@{/kontrak-servis/profil/} + ${kontrakServis.id}"
                                       th:text="${jadwalServis.kontrakServis.nomorKontrak}"></a>
                                </td>
                                <td th:text="${jadwalServis.tanggalDeadlineServis}"></td>
                                <td th:text="${jadwalServis.tanggalPelaksanaan}"></td>
                                <td th:text="${jadwalServis.tanggalTerimaFormFisik}"></td>
                                <td th:text="${jadwalServis.status.status}"></td>
                                <td>
                                    <form action="post" th:action="@{/kontrak-servis/update-jadwal}">
                                        <button class="btn btn-default btn-sm" name="idJadwalServis"
                                                th:value="${jadwalServis.id}">
                                            Ubah
                                        </button>
                                    </form>

                                    <br>
                                    <form method="post" th:action="@{/kontrak-servis/hapus-jadwal}">
                                        <button class="btn btn-danger btn-sm" name="idJadwalServis"
                                                th:value="${jadwalServis.id}"
                                                type="submit">Hapus
                                        </button>
                                    </form>
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table th:unless="${daftarJadwalServis.size() != 0}">
                            <thead>
                            </thead>
                            <tbody>
                            <h5>Tidak ada Jadwal Servis</h5>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>