<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>BA Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/berita-acara-servis/}"> Daftar BA Servis</a></li>
            <li class="active">Tambah BA Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                TAmbah BA Servis
            </div>
            <div class="panel-body">
                <form method="post" th:action="@{/berita-acara-servis/tambah}">
                    <div class="form-group">
                        <label>Nomor Kontrak Servis</label>
                        <input class="form-control" name="kontrakServisId" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nomor SPK</label>
                        <input class="form-control" name="nomorSpk" type="text">
                    </div>
                    <div class="form-group">
                        <label>Periode SPK</label>
                        <input class="form-control" name="periodeSpk" type="text">
                    </div>
                    <div class="form-group">
                        <label>Status Berita Acara</label>
                        <select class="form-control" name="statusBeritaAcaraId">
                            <option selected value="">-Pilih Status BA-</option>
                            <option th:each="status : ${daftarStatusBAServis}" th:text="${status.status}"
                                    th:value="${status.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Invoice</label>
                        <input class="form-control" name="invoiceId" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Terbit</label>
                        <input class="form-control" name="tanggalTerbit" type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kirim</label>
                        <input class="form-control" name="tanggalKirim" type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kembali</label>
                        <input class="form-control" name="tanggalKembali" type="date">
                    </div>
                    <div class="form-group">
                        <label>Periode Berita Acara</label>
                        <input class="form-control" name="periodeBeritaAcara" type="date">
                    </div>
                    <div class="form-group">
                        <label>Approved Status</label>
                        <select class="form-control" name="isApprove">
                            <option th:selected="true" th:text="Approved" th:value="1"></option>
                            <option th:text="'Not Approved'" th:value="0"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>