<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>BA Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/berita-acara-servis/}"> Daftar BA Servis</a></li>
            <li class="active">BA Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form method="post" th:action="@{/berita-acara-servis/invoice/tambah}">
                    <div class="form-group">
                        <label>Nomor Spk Berita Acara Servis</label>
                        <input class="form-control" disabled th:value="${beritaAcaraServis.nomorSpk}"></input>
                        <input class="form-control" name="beritaAcaraServisId" th:value="${beritaAcaraServis.id}"
                               type="hidden">
                    </div>
                    <div class="form-group">
                        <label>Jenis</label>
                        <input class="form-control" name="jenis" type="text">
                    </div>
                    <div class="form-group">
                        <label>Penerima Berita Acara</label>
                        <select class="form-control" name="penerimaBaId">
                            <option selected value="">-Pilih Penerima-</option>
                            <option th:each="karyawan : ${daftarKaryawan}" th:text="${karyawan.nama}"
                                    th:value="${karyawan.uuid}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Nomor</label>
                        <input class="form-control" name="nomor" type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Terbit</label>
                        <input class="form-control" name="tanggalTerbit" type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kirim</label>
                        <input class="form-control" name="tanggalKirim" type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kembali</label>
                        <input class="form-control" name="tanggalKembali" type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Jatuh Tempo</label>
                        <input class="form-control" name="tanggalJatuhTempo" type="date">
                    </div>
                    <div class="form-group">
                        <label>Jumlah Tagihan</label>
                        <input class="form-control" name="jumlahTagihan" type="number">
                    </div>
                    <div class="form-group">
                        <label>Jumlah Pembayaran</label>
                        <input class="form-control" name="jumlahPembayaran" type="number">
                    </div>
                    <div class="form-group">
                        <label>Status Invoice</label>
                        <select class="form-control" name="statusInvoiceId">
                            <option selected th:value="''">Select Status</option>
                            <option th:each="status : ${daftarStatusInvoice}" th:text="${status.status}"
                                    th:value="${status.id}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>