<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Error BA Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="colorless-link" th:href="@{/berita-acara-po/}">Daftar BA Servis</li>
            <li class="active">BA Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div th:if="${errorMessage}">
                    <p th:text="${errorMessage}"></p>
                </div>
                <br>
                <a class="btn btn-default" th:href="@{/berita-acara-servis}">
                    List BA Servis
                </a>
                <a class="btn btn-default" th:href="@{/}">
                    Kembali ke Beranda
                </a><br>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>