<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>BA Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/berita-acara-servis/}"> Daftar BA Servis</a></li>
            <li class="active">Ubah BA Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah BA Servis
            </div>
            <div class="panel-body">
                <form th:action="@{/berita-acara-servis/ubah}" th:method="POST" th:object="${beritaAcaraServis}">
                    <input class="form-control" name="id" th:field="${beritaAcaraServis.id}" type="hidden"/>
                    <div class="form-group">
                        <label>Nomor Kontrak Servis</label>
                        <input class="form-control" name="kontrakServisId"
                               th:value="${beritaAcaraServis.kontrakServis.id}" type="hidden">
                        <input class="form-control" disabled
                               th:value="${beritaAcaraServis.kontrakServis.nomorKontrak}"></input>
                    </div>
                    <div class="form-group">
                        <label>Nomor SPK</label>
                        <input class="form-control" name="nomorSpk" th:value="${beritaAcaraServis.nomorSpk}"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label>Periode SPK</label>
                        <input class="form-control" name="periodeSpk" th:value="${beritaAcaraServis.periodeSpk}"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label>Status Berita Acara</label>
                        <select class="form-control" name="statusBeritaAcaraId">
                            <option th:each="status : ${daftarStatusBAServis}"
                                    th:selected="${status.id == beritaAcaraServis.status.id}"
                                    th:text="${status.status}"
                                    th:value="${status.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Invoice</label>
                        <input class="form-control" name="invoiceId"
                               th:value="${beritaAcaraServis.invoice != null} ? ${beritaAcaraServis.invoice.id} : null"
                               type="hidden">
                        <input class="form-control" disabled
                               th:value="${beritaAcaraServis.invoice != null} ? ${beritaAcaraServis.invoice.nomor} : null"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Terbit</label>
                        <input class="form-control" name="tanggalTerbit" th:value="${beritaAcaraServis.tanggalTerbit}"
                               type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kirim</label>
                        <input class="form-control" name="tanggalKirim" th:value="${beritaAcaraServis.tanggalKirim}"
                               type="date">
                    </div>
                    <div class="form-group">
                        <label>Tanggal Kembali</label>
                        <input class="form-control" name="tanggalKembali" th:value="${beritaAcaraServis.tanggalKembali}"
                               type="date">
                    </div>
                    <div class="form-group">
                        <label>Periode Berita Acara</label>
                        <input class="form-control" name="periodeBeritaAcara"
                               th:value="${beritaAcaraServis.periodeBeritaAcara}" type="date">
                    </div>
                    <div class="form-group">
                        <label>Is Approved</label>
                        <select class="form-control" name="approve">
                            <option th:selected="${beritaAcaraServis.approve}" th:text="'Approved'"
                                    th:value="1"></option>
                            <option th:selected="${!beritaAcaraServis.approve}" th:text="'Not Approved'"
                                    th:value="0"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="base :: scripts"></div>
</body>
</html>