<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>BA Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar BA Servis</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Daftar BA Servis
                </div>
                <div style="padding: 1rem" th:if="${role.equals('Admin')}">
                    <a style="color: white;" th:href="@{/berita-acara-servis/tambah/}">
                        <button class="btn btn-danger">Tambah BA Servis</button>
                    </a>
                </div>
                <table class="row-border" id="example" th:if="${daftarBeritaAcaraServis.size() != 0 }">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nomor Kontrak Servis</th>
                        <th scope="col">Nomor SPK</th>
                        <th scope="col">Periode Spk</th>
                        <th scope="col">Status</th>
                        <th scope="col">Invoice</th>
                        <th scope="col">Tanggal Terbit</th>
                        <th scope="col">Tanggal Kirim</th>
                        <th scope="col">Tanggal Kembali</th>
                        <th scope="col">Periode Berita Acara</th>
                        <th scope="col">Is Approved</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="beritaAcaraServis, iterator : ${daftarBeritaAcaraServis}">
                        <td scope="row" th:text="${iterator.count}">
                        </td>
                        <td>
                            <a th:href="@{/kontrak-servis/profil/} + ${beritaAcaraServis.kontrakServis.id}"
                               th:text="${beritaAcaraServis.kontrakServis.nomorKontrak}"></a>
                        </td>
                        <td>
                            <a th:href="@{/berita-acara-servis/profil/} + ${beritaAcaraServis.id}"
                               th:text="${beritaAcaraServis.nomorSpk}"></a>
                        </td>
                        <td th:text="${beritaAcaraServis.periodeSpk}"></td>
                        <td th:text="${beritaAcaraServis.status.status}"></td>
                        <td>
                            <div th:if="${beritaAcaraServis.invoice != null}">
                                <a th:href="@{/invoice/profil/} + ${beritaAcaraServis.invoice.id}"
                                   th:text="${beritaAcaraServis.invoice.nomor}"></a>
                            </div>
                            <div th:unless="${beritaAcaraServis.invoice != null}">
                                NULL
                            </div>
                        </td>
                        <td th:text="${beritaAcaraServis.tanggalTerbit}"></td>
                        <td th:text="${beritaAcaraServis.tanggalKirim}"></td>
                        <td th:text="${beritaAcaraServis.tanggalKembali}"></td>
                        <td th:text="${beritaAcaraServis.periodeBeritaAcara}"></td>
                        <td th:text="${beritaAcaraServis.approve} ? 'Approved' : 'Not Approved'"></td>
                        <td>
                            <form method="post" th:action="@{/berita-acara-servis/hapus}">
                                <button class="btn btn-danger" name="id" th:value="${beritaAcaraServis.id}"
                                        type="submit">Hapus
                                </button>
                            </form>
                            <form method="GET" th:action="@{/berita-acara-servis/isi}">
                                <button class="btn btn-default" name="id" th:value="${beritaAcaraServis.id}"
                                        type="submit">Isi
                                </button>
                            </form>
                            <form action="GET" th:action="@{/berita-acara-servis/invoice/tambah}"
                                  th:if="${beritaAcaraServis.status.id == 1}">
                                <button class="btn btn-default" name="id" th:value="${beritaAcaraServis.id}"
                                        type="submit">Isi Invoice
                                </button>
                            </form>
                            <form method="GET" th:action="@{/berita-acara-servis/ubah}">
                                <button class="btn btn-default" name="id" th:value="${beritaAcaraServis.id}"
                                        type="submit">Ubah
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table th:unless="${daftarBeritaAcaraServis.size() != 0}">
                    <thead>
                    </thead>
                    <tbody>
                    <h5>Tidak ada BA Servis</h5>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>