<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profil BA Servis</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/berita-acara-servis/}"> Daftar BA Servis</a></li>
            <li class="active">BA Servis</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="main-content">
                    <h2>
                        Profile BA Servis
                    </h2>
                    <div th:if="${beritaAcara != null}">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><b>Nomor Kontrak</b></td>
                                <td><a th:text="${beritaAcara.kontrakServis.nomorKontrak}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Nomor Spk</b></td>
                                <td><a th:text="${beritaAcara.nomorSpk}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Periode Spk</b></td>
                                <td><a th:text="${beritaAcara.periodeSpk}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Status BA</b></td>
                                <td><a th:text="${beritaAcara.status.status}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Invoice</b></td>
                                <td><a th:text="${beritaAcara.invoice} ? ${beritaAcara.invoice.nomor} : 'NULL'"></a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Terbit</b></td>
                                <td><a th:text="${beritaAcara.tanggalTerbit}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Kirim</b></td>
                                <td><a th:text="${beritaAcara.tanggalKirim}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Kembali</b></td>
                                <td><a th:text="${beritaAcara.tanggalKembali}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Periode BA</b></td>
                                <td><a th:text="${beritaAcara.periodeBeritaAcara}"></a></td>
                            </tr>
                            <tr>
                                <td><b>Is Approved</b></td>
                                <td><a th:text="${beritaAcara.approve}"></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <form th:action="@{/berita-acara-servis/ubah}">
                            <button class="btn btn-sm btn-primary" name="id"
                                    th:value="${beritaAcara.id}" type="submit">Ubah
                            </button>
                        </form>
                        <form method="post" th:action="@{/berita-acara-servis/hapus}">
                            <button name="id" th:value="${beritaAcara.id}"
                                    type="submit">Hapus
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>