<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Unit PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="col-lg-offset-0 colorless-link" th:href="@{/unit-po/}">Daftar Unit PO</a></li>
            <li class="active">Ubah Unit PO</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Ubah Unit PO
            </div>
            <div class="panel-body">
                <form th:action="@{/unit-po/ubah}" th:method="POST" th:object="${unitPO}">
                    <input name="id" th:field="${unitPO.id}" type="hidden"/>
                    <div class="form-group">
                        <label>Nama Unit PO</label>
                        <input class="form-control" name="nama" th:value="${unitPO.nama}" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: scripts"></div>
</body>
</html>