<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Unit PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li class="active">Daftar Unit PO</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Daftar Unit PO
                </div>
                <div class="panel-body">
                    <div class="main-content">
                        <a class="btn color-red2" th:href="@{/unit-po/tambah}">
                            Tambah
                        </a>
                        <div th:if="${daftarUnitPO != null}">
                            <table class="row-border" id="example" th:if="${daftarUnitPO.size() != 0 }">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nomor</th>
                                    <th scope="col">Nama Unit</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="unitPO, iterator : ${daftarUnitPO}">
                                    <td th:text="${iterator.count}"></td>
                                    <td>
                                        <a th:href="@{/unit-po/profil/} + ${unitPO.id}"
                                           th:text="${unitPO.nama}"></a>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/unit-po/hapus}">
                                            <button class="btn btn-danger btn-sm" name="id"
                                                    th:value="${unitPO.id}"
                                                    type="submit">Hapus
                                            </button>
                                        </form>
                                        <form method="get" th:action="@{/unit-po/ubah}">
                                            <button class="btn btn-default btn-sm" name="id"
                                                    th:value="${unitPO.id}"
                                                    type="submit">Ubah
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:unless="${daftarUnitPO.size() != 0}">
                                <thead>
                                </thead>
                                <tbody>
                                <h5>Tidak ada Unit PO</h5>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>