<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="fragments/head :: head"></object>
    <title>Unit PO</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/sidebar :: sidebar"></div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/">
                <em class="fa fa-home color-red"></em>
            </a></li>
            <li><a class="colorless-link" th:href="@{/unit-po/}">Daftar Unit PO</a></li>
            <li class="active">Detail Unit PO</li>
        </ol>
    </div><!--/.row-->
    <div style="padding-left: 3rem; padding-right: 3rem">
        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Detail Unit PO
                </div>
                <div class="panel-body">
                    <div class="main-content">
                        <div th:if="${unitPO != null}">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><b>Nama Unit PO</b></td>
                                    <td><a th:text="${unitPO.nama}"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <a class="btn btn-sm btn-primary" th:href="@{/unit-po/tambah}">Tambah</a>
                            <br>
                            <br>
                            <br>
                            <form th:action="@{/unit-po/ubah}"
                                  th:if="${role == 'Admin' || role == 'Bagian PO'}">
                                <button class="btn btn-sm btn-primary" name="id"
                                        th:value="${unitPO.id}" type="submit">Ubah
                                </button>
                            </form>
                            <br>
                            <form method="post" th:action="@{/unit-po/hapus}"
                                  th:if="@{role == 'Admin || role == 'Bagian PO'}">
                                <button class="btn btn-sm btn-primary" name="id" th:value="${unitPO.id}"
                                        type="submit">Hapus
                                </button>
                            </form>
                            <h4>Daftar Data Unit PO</h4>
                            <table class="table table-bordered" th:if="${unitPO.daftarUnit.size() != 0}">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Jumlah Dipesan</th>
                                    <th scope="col">Nomor PO</th>
                                    <th scope="col">Nama Unit PO</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dataUnitPO: ${unitPO.daftarUnit}">
                                    <td th:text="${dataUnitPO.jumlahDipesan}"></td>
                                    <td>
                                        <a th:href="@{/purchase-order/profil/} + ${dataUnitPO.purchaseOrder.id}"
                                           th:text="${dataUnitPO.purchaseOrder.nomor}"></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/unit-po/profil/} + ${dataUnitPO.unitPo.id}"
                                           th:text="${dataUnitPO.unitPo.nama}"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table th:unless="${unitPO.daftarUnit.size() != 0}">
                                <thead>
                                </thead>
                                <tbody>
                                <h5>Belum ada Data Unit PO</h5>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>